<!-- INCLUDE include_header.html --> 

<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
<tr>
	<td colspan="3" class="title" nowrap><B>{LN_DETAILS_FORSYSLOGMSG} '{uid_current}'</B></td>
</tr>

<table width="100%" align="center" border="0" cellpadding="1" cellspacing="1" class="with_border">
<tr>
	<td width="100%" class="line2" align="left">
	<a href="index.php?uid={uid_current}{additional_url_sourceonly}" target="_top"><img src="{MENU_HOMEPAGE}" align="middle" width="16" height="16" alt="{LN_DETAIL_BACKTOLIST}" title="{LN_DETAIL_BACKTOLIST}">&nbsp;{LN_DETAIL_BACKTOLIST}</a>
<!-- IF main_currentpagenumber_found="true" -->
	{LN_GEN_PAGE} {main_currentpagenumber}
<!-- ENDIF main_currentpagenumber_found="true" -->
	</td>

<!-- IF main_recordcount_found="true" -->
	<td nowrap width="125" class="cellmenu2">{LN_GEN_RECORDCOUNT}:</td>
	<td nowrap width="50" class="line2"><B>{main_recordcount}</B></td>
<!-- ENDIF main_recordcount_found="true" -->
<!-- IF main_pagerenabled="true" -->
		<td class="cellmenu2" nowrap><B>Pager: &nbsp; </B></td>
		<td class="line0" width="20" nowrap>
	<!-- IF main_pager_first_found="true" -->
		<a href="?{additional_url_sortingonly}&uid=-1{additional_url}" target="_top"><img src="{MENU_PAGER_BEGIN}" width="16" height="16" alt="{LN_GEN_FIRSTPAGE}" title="{LN_GEN_FIRSTPAGE}"></a>
	<!-- ENDIF main_pager_first_found="true" -->
	<!-- IF main_pager_first_found!="true" -->
		<img src="{MENU_PAGER_BEGIN_GREY}" width="16" height="16">
	<!-- ENDIF main_pager_first_found!="true" -->
		</td>

		<td class="line1" width="20" nowrap>
	<!-- IF main_pager_previous_found="true" -->
		<a href="?{additional_url_sortingonly}&uid={uid_current}&direction=previous{additional_url}" target="_top"><img src="{MENU_PAGER_PREVIOUS}" width="16" alt="{LN_GEN_PREVIOUSPAGE}" title="{LN_GEN_PREVIOUSPAGE}"></a>
	<!-- ENDIF main_pager_previous_found="true" -->
	<!-- IF main_pager_previous_found!="true" -->
		<img src="{MENU_PAGER_PREVIOUS_GREY}" width="16" height="16">
	<!-- ENDIF main_pager_previous_found!="true" -->
		</td>

	<!-- BEGIN syslogpages -->
		<td class="{cssclass}" nowrap><a href="?{additional_url_sortingonly}&uid={mypagebegin}{additional_url}" target="_top">{mypagenumber}</a>&nbsp;</td>
	<!-- END syslogpages -->

		<td class="line0" width="20" nowrap>
	<!-- IF main_pager_next_found="true" -->
		<a href="?{additional_url_sortingonly}&uid={uid_current}&direction=next{additional_url}" target="_top"><img src="{MENU_PAGER_NEXT}" width="16" alt="{LN_GEN_NEXTPAGE}" title="{LN_GEN_NEXTPAGE}"></a>
	<!-- ENDIF main_pager_next_found="true" -->
	<!-- IF main_pager_next_found!="true" -->
		<img src="{MENU_PAGER_NEXT_GREY}" width="16" height="16">
	<!-- ENDIF main_pager_next_found!="true" -->
		</td>
	
		<td class="line1" width="20" nowrap>
	<!-- IF main_pager_last_found="true" -->
		<a href="?{additional_url_sortingonly}&uid=-1&direction=desc{additional_url}" target="_top"><img src="{MENU_PAGER_END}" width="16" alt="{LN_GEN_LASTPAGE}" title="{LN_GEN_LASTPAGE}"></a>
	<!-- ENDIF main_pager_last_found="true" -->
	<!-- IF main_pager_last_found!="true" -->
		<img src="{MENU_PAGER_END_GREY}" width="16" height="16">
	<!-- ENDIF main_pager_last_found!="true" -->
		</td>
<!--	<td nowrap width="200" class="line2"><I>&nbsp;{LN_GEN_MOREPAGES}</I></td> -->
<!-- ENDIF main_pagerenabled="true" -->
</tr>
</table>

<tr>
	<td width="100%" valign="top">

	<!-- IF messageenabled="true" -->
	<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border_alternate">
	<!-- BEGIN fields -->
	<!-- IF fieldenabled="true" -->
	<tr>
		<td width="200" class="{menucssclass}" align="left" nowrap>
			<B>{FieldCaption}</B>
		</td>
		<td width="100%" align="{FieldAlign}" class="{cssclass}" {fieldbgcolor} valign="top">
		{fieldvalue}
		</td>
	</tr>
	<!-- ENDIF fieldenabled="true" -->
	<!-- END fields -->
	<!-- IF dynamicfieldsenabled="true" -->
	<tr>
		<td width="200" class="cellmenu1_naked" align="left" nowrap>
			<B>{LN_DETAIL_DYNAMIC_FIELDS}</B>
		</td>
		<td width="100%" align="center" class="line1" valign="top">
		<br/>

		<table border="0" cellpadding="2" cellspacing="1" bgcolor="#DDDDDD" width="600" class="with_border_alternative">
		<!-- BEGIN dynamicfields -->
		<tr>
			<td align="left" class="cellmenu2">
			{dynfieldkey}
			</td>
			<td align="left" class="{dyncssclass}">
				{dynfieldvalue}
			</td>
		</tr>
		<!-- END dynamicfields -->
		</table>

		<br/>
		</td>
	</tr>
	<!-- ENDIF dynamicfieldsenabled="true" -->
	</table>
	<!-- ENDIF messageenabled="true" -->

	<!-- IF messageenabled="false" -->
		<center>
		<font color="red">
		<br>
		<h3>{LN_ERROR_NORECORDS} (code {error_code} ) - {LN_GEN_ERRORDETAILS}</h3>
		{detailederror}
		<br>
		<br>
		</font>
		</center>
	<!-- ENDIF messageenabled="false" -->

	</td>
</tr>
</table>


<!-- INCLUDE include_footer.html -->