
	<table width="100%" border="0" cellspacing="1" cellpadding="0" class="mainfooter">
	<tr>
		<td align="center" class="line0" valign="_top">Made by <a href="http://www.adiscon.com" target="_blank">Adiscon GmbH</a> (2008)</td>
		<td align="center" class="line1" valign="_top">
			&nbsp;<a href="http://www.phplogcon.org" target="_blank">phpLogCon</A> Version {BUILDNUMBER}
		</td>
		<td align="center" class="line0" valign="_top">
			&nbsp;<B>Partners:</B> 
 		 </td>
		<td align="center" class="line1" valign="_top">
			&nbsp;<a href="http://www.rsyslog.com" target="_blank">Rsyslog</a> | 
			&nbsp;<a href="http://www.winsyslog.com" target="_blank">WinSyslog</a>
 		 </td>
		<!-- IF ShowPageRenderStats="true" -->
		<td align="center" class="line2" valign="_top">
			<small>
			{LN_FOOTER_PAGERENDERED}: <B>{PAGERENDERTIME}</B> {LN_FOOTER_SECONDS}
			&nbsp;|&nbsp;{LN_FOOTER_DBQUERIES}: <B>{TOTALQUERIES}</B>
			&nbsp;|&nbsp;{LN_FOOTER_GZIPENABLED}: <B>{GzipCompressionEnmabled}</B>
			&nbsp;|&nbsp;{LN_FOOTER_SCRIPTTIMEOUT}: <B>{MaxExecutionTime}</B> {LN_FOOTER_SECONDS}
			</small>
 		 </td>
		<!-- ENDIF ShowPageRenderStats="true" -->
	 </tr>
	 </table>

	</td>
  </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
	<td colspan="2" background="{BASEPATH}themes/{user_theme}/images/bg_bottom.gif" height="16"><img src="{BASEPATH}themes/{user_theme}/images/bg_bottom.gif" height="16"></td>
</tr>
</table>

</body> 
</html>