<table width="100%" border="0" cellspacing="0" cellpadding="2">
<tr> 
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="search.php" target="_top">Search</a></td>
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="index.php?{additional_url}" target="_top">Show Events</a></td>
<!--	<td class="topmenu1" nowrap align="center" width="125"><a class="topmenu1_link" href="" target="_top">Show SysLogTags</a></td>-->
<!--	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="" target="_top">User Options</a></td>-->
<!--	<td class="topmenu1" nowrap align="center" width="125"><a class="topmenu1_link" href="" target="_top">Database Options</a></td>-->
<!--	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="?" target="_top">Refresh</a></td>-->
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="http://wiki.rsyslog.com/index.php/PhpLogCon" target="phplogcon_help">Help</a></td>
	<td class="topmenu1" nowrap align="center" width="200"><a class="topmenu1_link" href="http://kb.monitorware.com/search.php" target="_blank">Search in Knowledge Base</a></td>
<!-- IF UserDBEnabled="true" -->
	<!-- IF SESSION_LOGGEDIN!="true" -->
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="login.php" target="_blank">Login</a></td>
	<!-- ENDIF SESSION_LOGGEDIN!="true" -->
	<!-- IF SESSION_LOGGEDIN="true" -->
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="admin/index.php" target="_blank">Admin Center</a></td>
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="login.php?op=logoff" target="_blank">Logoff</a></td>
	<!-- ENDIF SESSION_LOGGEDIN="true" -->
<!-- ENDIF UserDBEnabled="true" -->
	<td class="topmenuend" nowrap align="center" width="max">&nbsp;</td>
</tr>
</table>
