<!-- INCLUDE include_header.html --> 

<table border="0" cellspacing="0" cellpadding="2" align="center">
<form action="" method="post" id="searchform" name="searchform">
<tr> 
<!--	<td class="topmenu2 ExpansionPlus" nowrap align="center" width="105" id="advancedsearch"><a class="topmenu1_link" href="#" OnClick="togglevisibility('HiddenOptions', 'advancedsearch');">Advanced Search</a></td>-->
	<td nowrap align="center" nowrap valign="middle">
		<B>&nbsp;{LN_SEARCH_FILTER}</B>
		
<!--		<img src="{BASEPATH}images/icons/navigate_down.png" class="SelectSavedFilter" align="middle" width="16" height="16">-->
		<input maxlength="2048" name="filter" size="80" title="Search" value="{searchstr}" class="SearchFormTextbox">
		<br>
		<input name="search" type="submit" value="{LN_SEARCH}" class="SearchFormControl">
		<a href="?search={LN_SEARCH}&filter={SearchCustomButtonSearch}" target="_top"><input name="lucky" type="button" value="{SearchCustomButtonCaption}" class="SearchFormControl"></a>
		<input type="button" value="{LN_SEARCH_RESET}" class="SearchFormControl" OnClick="ResetFormValues('searchform');">
		<input type="button" value="{LN_HIGHLIGHT}" class="SearchFormControl" OnClick="togglevisibility('HightLightArea');">
		<br>
	</td>
	<td nowrap align="left" nowrap valign="top">
		<a href="search.php" target="_top">{LN_SEARCH_ADVANCED}</a>
		<br>
		<i>(sample: faciliy:local0 severity:warn)</i>
	</td>
</tr>
<tr>
	<td colspan="2">
<span id="HightLightArea" name="HightLightArea" class="HiddenContent">
<table border="0" cellpadding="1" cellspacing="1" width="100%" align="center" class="with_border">
<tr>
	<td colspan="2" align="center" valign="top" class="cellmenu2">
	<strong>{LN_HIGHLIGHT_WORDS}</strong></td>
</tr>
<tr>
	<td align="left" class="line1" nowrap>
		<input maxlength="2048" name="highlight" size="75" title="Search" value="{highlightstr}">
		<input name="search" type="submit" value="{LN_SEARCH}" class="SearchFormControl">
	</td>
</tr>
<!-- IF EXPAND_HIGHLIGHT="true" -->
<tr>
	<td align="center" class="line0" nowrap>
		<table border="0" cellpadding="1" cellspacing="1" width="100%" align="center">
		<tr>
		<!-- BEGIN highlightwords -->
			<td class="{cssclass}" align="center"><b>{highlight_raw}</b></td>
		<!-- END highlightwords -->
		</tr>
		</table>
	</td>
</tr>
<!-- ENDIF EXPAND_HIGHLIGHT="true" -->
</table>
</span>
	</td>
</tr>
</form>
</table>

<!-- IF EXPAND_HIGHLIGHT="true" -->
<script language="javascript">
	// Manually expand Hightlight field
	togglevisibility('HightLightArea');
</script>
<!-- ENDIF EXPAND_HIGHLIGHT="true" -->


<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
<tr>
	<td colspan="3" class="title" nowrap><B>Recent syslog messages</B></td>
</tr>

<table width="100%" align="center" border="0" cellpadding="1" cellspacing="1" class="with_border">
<tr>
	<td nowrap width="100%"class="line2"></td>
<!-- IF main_pagerenabled="true" -->
	<td nowrap width="200"class="line2"><I>&nbsp;{LN_GEN_MOREPAGES}</I></td>
	<td class="cellmenu2" nowrap><B>Pager: &nbsp; </B></td>
	<td class="line0" nowrap><a href="?sorting={sorting}&uid={uid_first}{additional_url}" target="_top"><img src="{BASEPATH}images/icons/media_beginning.png" width="16" title="{LN_GEN_FIRSTPAGE}"></a>&nbsp;</td>
	<td class="line1" nowrap><a href="?sorting={sorting}&uid={uid_previous}{additional_url}" target="_top"><img src="{BASEPATH}images/icons/media_rewind.png" width="16" title="{LN_GEN_PREVIOUSPAGE}"></a>&nbsp;</td>
<!-- BEGIN syslogpages -->
	<td class="{cssclass}" nowrap><a href="?sorting={sorting}&uid={mypagebegin}{additional_url}" target="_top">{mypagenumber}</a>&nbsp;</td>
<!-- END syslogpages -->
	<td class="line0" nowrap><a href="?sorting={sorting}&uid={uid_next}{additional_url}" target="_top"><img src="{BASEPATH}images/icons/media_fast_forward.png" width="16" title="{LN_GEN_NEXTPAGE}"></a>&nbsp;</td>
	<td class="line1" nowrap><a href="?sorting={sorting}&uid={uid_last}{additional_url}" target="_top"><img src="{BASEPATH}images/icons/media_end.png" width="16" title="{LN_GEN_LASTPAGE}"></a>&nbsp;</td>
<!-- ENDIF main_pagerenabled="true" -->
</tr>
</table>

<tr>
	<td width="100%" valign="top">

	<!-- IF syslogmessagesenabled="true" -->
	<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border_alternate">
	<tr>
<!--		<td width="50" class="cellmenu1" align="center" nowrap><B>{LN_TOP_UID}</B></td>-->
		<!-- BEGIN fields -->
		<td width="{DefaultWidth}" class="cellmenu1" align="center" nowrap>
			<!-- IF FieldSortable="true" -->
			<a HREF="?sorting={FieldID}{additional_url}" class="cellmenu1_link" >
			<!-- ENDIF FieldSortable="true" -->
			<B>{FieldCaption}</B>
			<!-- IF FieldSortable="true" -->
			</a>
			<!-- ENDIF FieldSortable="true" -->
		</td>
		<!-- END fields -->
<!--		<td width="50" class="cellmenu1" align="center" nowrap><A HREF="?sorting=syslogfacility{additional_url}" class="cellmenu1_link" >{LN_GRID_FACILITY}</A></td>
		<td width="50" class="cellmenu1" align="center" nowrap><A HREF="?sorting=syslogseverity{additional_url}" class="cellmenu1_link" >{LN_GRID_SEVERITY}</A></td>
		<td width="50" class="cellmenu1" align="center" nowrap><A HREF="?sorting=syslogtag{additional_url}" class="cellmenu1_link" >{LN_GRID_SYSLOGTAG}</A></td>
		<td width="75" class="cellmenu1" align="center" nowrap><A HREF="?sorting=IUT{additional_url}" class="cellmenu1_link" >{LN_GRID_INFOUNIT}</A></td>
		<td width="50" class="cellmenu1" align="center" nowrap><A HREF="?sorting=FROMHOST{additional_url}" class="cellmenu1_link" >{LN_GRID_HOST}</A></td> 
		<td width="100%" class="cellmenu1" align="center" nowrap><B>{LN_FIELDS_MESSAGE}</B></td>
		-->

	</tr>

	<!-- BEGIN syslogmessages -->
	<tr>
<!--		<td align="right" class="{cssclass}"><B>{UID}</B></td>-->

		<!-- BEGIN values -->
		<td align="{FieldAlign}" class="{fieldcssclass}" {fieldbgcolor} valign="top">

		<!-- IF hasdetails="false" -->
		<B>{fieldvalue}</B>
		<!-- ENDIF hasdetails="false" -->
		<!-- IF hasdetails="true" -->
		<a href="?" class="syslogdetails">
		{fieldvalue}
		<span>
			<table cellpadding="0" cellspacing="1" border="0" width="500" align="left" class="with_border_alternate">
			<tr>
				<td colspan="2" class="cellmenu1" align="center"><B>{popupcaption}</B></td>
			</tr>
			<!-- BEGIN messagesdetails -->
			<tr>
				<td width="150" nowrap class="cellmenu2">{detailfieldtitle}</td>
				<td width="100%" class="{detailscssclass}" >{detailfieldvalue}</td>
			</tr>
			<!-- END messagesdetails -->
			</table>
		</span>
		</a>
		<!-- ENDIF hasdetails="true" -->
		</td>
		<!-- END values -->
<!--		
		<td align="left" class="{facility_cssclass}" bgcolor="{facility_color}" nowrap><B>{syslogfacility-text}</B></td>
		<td align="left" class="{severity_cssclass}" bgcolor="{severity_color}" nowrap><B>{syslogseverity-text}</B></td>
		<td align="left" class="{cssclass}" nowrap><B>{syslogtag}</B></td>
		<td align="center" class="{cssclass}"><B>{IUT}</B></td>
		<td align="left" class="{cssclass}" nowrap><B>{FROMHOST}</B></td>
-->

	</tr>
	<!-- END syslogmessages -->

	</table>
	<!-- ENDIF syslogmessagesenabled="true" -->


	</td>
</tr>
</table>


<!-- INCLUDE include_footer.html -->
