<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title>{TITLE}</title>
	<link rel="stylesheet" href="css/defaults.css" type="text/css">
	<link rel="stylesheet" href="themes/{user_theme}/main.css" type="text/css">
	<script type='text/javascript' src='{BASEPATH}js/common.js'></script>
</head>
<body TOPMARGIN="0" LEFTMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">

<script language="javascript">
	/*
	*	Helper function to show and hide areas of the filterview
	*/
	function toggleSourceTypeVisibility(FormFieldName)
	{
		var myfield = document.getElementById(FormFieldName);
		if (myfield.value == 1)
		{
			showvisibility("HiddenDiskTypeOptions");
			hidevisibility("HiddenDatabaseTypeOptions");
		}
		else if (myfield.value == 2)
		{
			showvisibility("HiddenDatabaseTypeOptions");
			hidevisibility("HiddenDiskTypeOptions");

			hidevisibility("HiddenPDOSourceOptions");
//			hidevisibility("HiddenDBTYpesOptions");
		}
		else if (myfield.value == 3)
		{
			showvisibility("HiddenDatabaseTypeOptions");
			hidevisibility("HiddenDiskTypeOptions");

			showvisibility("HiddenPDOSourceOptions");
//			showvisibility("HiddenDBTYpesOptions");
		}
		else if (myfield.value == 4)
		{
			showvisibility("HiddenDatabaseTypeOptions");
			hidevisibility("HiddenDiskTypeOptions");

			hidevisibility("HiddenPDOSourceOptions");
		}
	}

	/*
	*	Helper function to show and hide areas of the filterview
	*/
	function toggleAuthTypeVisibility(FormFieldName)
	{
		var myfield = document.getElementById(FormFieldName);
		if (myfield.value == 0)
		{
			showvisibility("HiddenInternalAuthOptions");
			hidevisibility("HiddenLdapAuthOptions");
		}
		else if (myfield.value == 1)
		{
			hidevisibility("HiddenInternalAuthOptions");
			showvisibility("HiddenLdapAuthOptions");
		}
	}
</script>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="mainheader">
<tr> 
	<td rowspan="4" width="500" align="left" valign="top"><a href="index.php"><img src="{BASEPATH}images/main/Header-Logo.png" width="500" height="79" name="HeaderLogo"></a></td>
	<td width="100%" align="center" valign="top" height="20">&nbsp;</td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_with_border">
<tr> 
	<td>
	<table border="0" cellspacing="1" cellpadding="10" align="center" width="100%">
	<tr>
		<td>

		<br><br>

		<table width="100%" cellpadding="2" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="title">
				<h3 align="center">{INSTALL_TITLETOP}</h3>
			</td>
		</tr>
		</table>

		<!-- IF iserror="true" -->
		<table width="100%" cellpadding="2" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="line2" align="center">
				<br>
				<h3><font color="red">ERROR: {errormsg}</font></h3>
				<br>
			</td>
		</tr>
		</table>
		<!-- ENDIF iserror="true" -->
		
		<form action="?step={INSTALL_NEXT_STEP}" method="post" id="sourcesform">

		<!-- IF INSTALL_STEP="1" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="tableBackground">

			<h1>{LN_INSTALL_STEP1}</h1>
			<p>
			{LN_INSTALL_STEP1_TEXT}
			</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>

			</td>
		</tr>
		</table>
		<!-- ENDIF INSTALL_STEP="1" -->

		<!-- IF INSTALL_STEP="2" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="tableBackground">

				<h1>{LN_INSTALL_STEP2}</h1>
				<p>
				{LN_INSTALL_STEP2_TEXT}
				</p>
				<p>&nbsp;</p>

				<table width="300" class="with_border_alternate" cellpadding="2" cellspacing="1" border="0" align="center">
				<!-- BEGIN fileperm -->
				<tr>
					<td width="200" nowrap class="{cssclass}">{FILE_TYPE} '<B>{FILE_NAME}</B>'</td>
					<td width="25" bgcolor="{BGCOLOR}">&nbsp;</td>
					<td width="125" nowrap class="{cssclass}" align="center"><B>{ISSUCCESS}</B></td>
				</tr>
				<!-- END fileperm -->
				</table>

				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</td>
		</tr>
		</table>
		<!-- ENDIF INSTALL_STEP="2" -->

		<!-- IF INSTALL_STEP="3" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="tableBackground">

			<h1>{LN_INSTALL_STEP3}</h1>
			<p>
			{LN_INSTALL_STEP3_TEXT}
			<br><br>
			</p>
			<p>&nbsp;</p>

				<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="500" align="center">
				<tr><td align="center" class="cellmenu1" colspan="2"><b>{LN_INSTALL_FRONTEND}</b></td></tr>
				<tr>
					<td align="left" class="cellmenu2" width="265" nowrap><b>{LN_INSTALL_NUMOFSYSLOGS}</b></td>
					<td align="right" class="line1" width="100%"><input type="text" name="ViewEntriesPerPage" size="40" maxlength="8" value="{ViewEntriesPerPage}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_INSTALL_MSGCHARLIMIT}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="ViewMessageCharacterLimit" size="40" maxlength="8" value="{ViewMessageCharacterLimit}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_INSTALL_STRCHARLIMIT}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="ViewStringCharacterLimit" size="40" maxlength="8" value="{ViewStringCharacterLimit}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_INSTALL_SHOWDETAILPOP}</b></td>
					<td align="right" class="line1" width="100%">
					<input type="radio" name="ViewEnableDetailPopups" value="1" {ViewEnableDetailPopups_true}> Yes <input type="radio" name="ViewEnableDetailPopups" value="0" {ViewEnableDetailPopups_false}> No
					</td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_INSTALL_AUTORESOLVIP}</b></td>
					<td align="right" class="line2" width="100%">
					<input type="radio" name="EnableIPAddressResolve" value="1" {EnableIPAddressResolve_true}> Yes <input type="radio" name="EnableIPAddressResolve" value="0" {EnableIPAddressResolve_false}> No
					</td>
				</tr>

				<tr><td align="center" class="line2" colspan="2">&nbsp;</td></tr>

				<tr><td align="center" class="cellmenu1" colspan="2"><b>{LN_INSTALL_USERDBOPTIONS}</b></td></tr>
				<tr>
					<td align="left" class="cellmenu2" width="265" nowrap><b>{LN_INSTALL_ENABLEUSERDB}</b></td>
					<td align="right" class="line1" width="100%">
						<input type="radio" name="UserDBEnabled" value="1" {UserDBEnabled_true} OnChange="showvisibility('HiddenUserDBOptions');"> Yes 
						<input type="radio" name="UserDBEnabled" value="0" {UserDBEnabled_false} OnChange="hidevisibility('HiddenUserDBOptions');"> No
					</td>
				</tr>
				</table>

				<div id="HiddenUserDBOptions" class="HiddenContent">
				<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="500" align="center">
				<tr>
					<td align="left" class="cellmenu2" width="265" nowrap><b>{LN_CFG_DBSERVER}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="UserDBServer" size="40" maxlength="255" value="{UserDBServer}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBPORT}</b></td>
					<td align="right" class="line1" width="100%"><input type="text" name="UserDBPort" size="40" maxlength="255" value="{UserDBPort}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBNAME}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="UserDBName" size="40" maxlength="255" value="{UserDBName}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBPREF}</b></td>
					<td align="right" class="line1" width="100%"><input type="text" name="UserDBPref" size="40" maxlength="255" value="{UserDBPref}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBUSER}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="UserDBUser" size="40" maxlength="255" value="{UserDBUser}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBPASSWORD}</b></td>
					<td align="right" class="line1" width="100%"><input type="password" name="UserDBPass" size="40" maxlength="255" value="{UserDBPass}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBUSERLOGINREQUIRED}</b></td>
					<td align="right" class="line2" width="100%">
						<input type="radio" name="UserDBLoginRequired" value="1" {UserDBLoginRequired_true}> Yes 
						<input type="radio" name="UserDBLoginRequired" value="0" {UserDBLoginRequired_false}> No
					</td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_AUTHTYPE}</b></td>
					<td align="right" class="line1" width="100%">
						<select id="UserDBAuthMode" name="UserDBAuthMode" size="1" OnChange="toggleAuthTypeVisibility('UserDBAuthMode');">
							<!-- BEGIN AUTHTYPES -->
							<option {selected} value="{type}">{DisplayName}</option>
							<!-- END AUTHTYPES -->
						</select>
					</td>
				</tr>
				</table>

				<div id="HiddenInternalAuthOptions" class="HiddenContent">
				</div>
				<div id="HiddenLdapAuthOptions" class="HiddenContent">
				<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="500" align="center">
				<tr><td align="center" class="cellmenu1" colspan="2"><b>{LN_GEN_AUTH_LDAP_OPTIONS}</b></td></tr>
				<tr>
					<td align="left" class="cellmenu2" width="265" nowrap><b>{LN_CFG_LDAPServer}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="LDAPServer" size="40" maxlength="255" value="{LDAPServer}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_LDAPPort}</b></td>
					<td align="right" class="line1" width="100%"><input type="text" name="LDAPPort" size="40" maxlength="255" value="{LDAPPort}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" width="265" nowrap><b>{LN_CFG_LDAPBaseDN}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="LDAPBaseDN" size="40" maxlength="255" value="{LDAPBaseDN}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" width="265" nowrap><b>{LN_CFG_LDAPSearchFilter}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="LDAPSearchFilter" size="40" maxlength="255" value="{LDAPSearchFilter}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" width="265" nowrap><b>{LN_CFG_LDAPUidAttribute}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="LDAPUidAttribute" size="40" maxlength="255" value="{LDAPUidAttribute}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" width="265" nowrap><b>{LN_CFG_LDAPBindDN}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="LDAPBindDN" size="40" maxlength="255" value="{LDAPBindDN}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_LDAPBindPassword}</b></td>
					<td align="right" class="line1" width="100%"><input type="password" name="LDAPBindPassword" size="40" maxlength="255" value="{LDAPBindPassword}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" width="265" nowrap><b>{LN_CFG_LDAPDefaultAdminUser}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="LDAPDefaultAdminUser" size="40" maxlength="255" value="{LDAPDefaultAdminUser}"></td>
				</tr>
				</table>
				</div>

			<p>&nbsp;</p>
			<p>&nbsp;</p>
			</td>
		</tr>
		</table>

		<script language="javascript">
			// Manually perform initial Javascript Calls
			<!-- IF UserDBEnabled_true="checked" -->
			showvisibility('HiddenUserDBOptions');
			<!-- ENDIF UserDBEnabled_true="checked" -->
			<!-- IF UserDBEnabled_false="checked" -->
			hidevisibility('HiddenUserDBOptions');
			<!-- ENDIF UserDBEnabled_false="checked" -->

			// Manually perform initial Javascript Calls
			toggleAuthTypeVisibility('UserDBAuthMode');
		</script>
		<!-- ENDIF INSTALL_STEP="3" -->

		<!-- IF INSTALL_STEP="4" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="tableBackground">
			<h1>{LN_INSTALL_STEP4}</h1>
			<p>
			{LN_INSTALL_STEP4_TEXT}
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			</td>
		</tr>
		</table>
		<!-- ENDIF INSTALL_STEP="4" -->

		<!-- IF INSTALL_STEP="5" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="tableBackground">
			<h1>{LN_INSTALL_STEP5}</h1>
			<p>
			{LN_INSTALL_STEP5_TEXT}
			<br><br>
			<ul>
			<li>{LN_INSTALL_SUCCESSSTATEMENTS} <B>{sql_sucess}</B><br>
			<li>{LN_INSTALL_FAILEDSTATEMENTS} <B>{sql_failed}</B> <br>
			</ul>
			<!-- IF sql_failed="0" -->
				{LN_INSTALL_STEP5_TEXT_NEXT}
				<p>&nbsp;</p>
			<!-- ENDIF sql_failed="0" -->
			<!-- IF sql_failed!="0" -->
				<table width="700" class="with_border_alternate" cellpadding="2" cellspacing="1" border="0" align="center">
				<tr>
					<td colspan="2" nowrap class="cellmenu1" align="center"><B>{LN_INSTALL_STEP5_TEXT_FAILED}</B></td>
				</tr>
				<tr>
					<td width="400" class="cellmenu1">{LN_INSTALL_ERRORMSG}</td>
					<td width="300" class="cellmenu1" align="center"><B>{LN_INSTALL_SQLSTATEMENT}</B></td>
				</tr>
				<!-- BEGIN failedstatements -->
				<tr>
					<td class="line0">{myerrmsg}</td>
					<td class="line0" align="center">{mystatement}</td>
				</tr>
				<!-- END failedstatements -->
				</table>
				<p>&nbsp;</p>
			<!-- ENDIF sql_failed!="0" -->

			<p>&nbsp;</p>
			</td>
		</tr>
		</table>
		<!-- ENDIF INSTALL_STEP="5" -->

		<!-- IF INSTALL_STEP="6" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="tableBackground">
			<h1>{LN_INSTALL_STEP6}</h1>
			<p>
			{LN_INSTALL_STEP6_TEXT}
			<br><br>
				<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="500" align="center">
				<tr><td align="center" class="cellmenu1" colspan="2"><b>{LN_INSTALL_CREATEUSER}</b></td></tr>
				<tr>
					<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_LOGIN_USERNAME}</b></td>
					<td align="right" class="line2" width="100%"><input type="text" name="username" size="40" maxlength="255" value="{MAIN_Username}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_INSTALL_PASSWORD}</b></td>
					<td align="right" class="line1" width="100%"><input type="password" name="password1" size="40" maxlength="255" value="{MAIN_Password1}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_INSTALL_PASSWORDREPEAT}</b></td>
					<td align="right" class="line2" width="100%"><input type="password" name="password2" size="40" maxlength="255" value="{MAIN_Password2}"></td>
				</tr>
				</table>

			<p>&nbsp;</p>
			<p>&nbsp;</p>
			</td>
		</tr>
		</table>
		<!-- ENDIF INSTALL_STEP="6" -->

		<!-- IF INSTALL_STEP="7" -->

		<!-- IF createduser="true" -->
		<table width="100%" cellpadding="2" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="line2" align="center">
				<br>
				<h3><font color="red">{LN_INSTALL_SUCCESSCREATED} '{MAIN_Username}'.</font></h3>
				<br>
			</td>
		</tr>
		</table>
		<!-- ENDIF createduser="true" -->

		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="tableBackground">
			<h1>{LN_INSTALL_STEP7}</h1>
			<p>&nbsp;</p>

				<table border="0" cellpadding="1" cellspacing="1" width="600" align="center" class="with_border">
				<tr><td align="center" class="cellmenu1" colspan="2"><b>{LN_CFG_FIRSTSYSLOGSOURCE}</b></td></tr>
				<tr>
					<td align="left" class="cellmenu2" width="250" nowrap><b>{LN_CFG_NAMEOFTHESOURCE}</b></td>
					<td align="right" class="line0" width="100%"><input type="text" name="SourceName" size="40" maxlength="255" value="{SourceName}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_SOURCETYPE}</b></td>
					<td align="right" class="line1" width="100%">
						<select id="SourceType" name="SourceType" size="1" OnChange="toggleSourceTypeVisibility('SourceType');">
							<!-- BEGIN SOURCETYPES -->
							<option {selected} value="{type}">{DisplayName}</option>
							<!-- END SOURCETYPES -->
						</select>
					</td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_VIEW}</b></td>
					<td align="right" class="line1" width="100%">
						<select id="SourceViewID" name="SourceViewID" size="1">
							<!-- BEGIN Views -->
							<option {selected} value="{ID}">{DisplayName}</option>
							<!-- END Views -->
						</select>
					</td>
				</tr>
				</table>

				<div id="HiddenDiskTypeOptions" class="HiddenContent">
				<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="600" align="center" class="with_border">
				<tr><td align="center" class="cellmenu1" colspan="2"><b>{LN_CFG_DISKTYPEOPTIONS}</b></td></tr>
				<tr>
					<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_CFG_LOGLINETYPE}</b></td>
					<td align="right" class="line0" width="100%">
						<select name="SourceLogLineType" size="1">
							<!-- BEGIN LOGLINETYPES -->
							<option {selected} value="{type}">{DisplayName}</option>
							<!-- END LOGLINETYPES -->
						</select>
					</td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_SYSLOGFILE}</b></td>
					<td align="right" class="line1" width="100%"><input type="text" name="SourceDiskFile" size="60" maxlength="255" value="{SourceDiskFile}"></td>
				</tr>
				</table>
				</div>

				<div id="HiddenDatabaseTypeOptions" class="HiddenContent">
				<table border="0" cellpadding="1" cellspacing="1" width="600" align="center" class="with_border">
				<tr><td align="center" class="cellmenu1" colspan="2"><b>{LN_CFG_DATABASETYPEOPTIONS}</b></td></tr>
				</table>

				<div id="HiddenPDOSourceOptions" class="HiddenContent">
				<table border="0" cellpadding="1" cellspacing="1" width="600" align="center" class="with_border">
				<tr>
					<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_CFG_DBSTORAGEENGINE}</b></td>
					<td align="right" class="line1" width="100%">
						<select name="SourceDBType" size="1">
							<!-- BEGIN DBTYPES -->
							<option {selected} value="{type}">{DisplayName}</option>
							<!-- END DBTYPES -->
						</select>
					</td>
				</tr>
				</table>
				</div>

				<table border="0" cellpadding="1" cellspacing="1" width="600" align="center" class="with_border">
				<tr>
					<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_CFG_DBTABLETYPE}</b></td>
					<td align="right" class="line0" width="100%">
						<select name="SourceDBTableType" size="1">
							<!-- BEGIN DBMAPPINGS -->
							<option {selected} value="{type}">{DisplayName}</option>
							<!-- END DBMAPPINGS -->
						</select>
					</td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBSERVER}</b></td>
					<td align="right" class="line0" width="100%"><input type="text" name="SourceDBServer" size="40" maxlength="255" value="{SourceDBServer}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBNAME}</b></td>
					<td align="right" class="line1" width="100%"><input type="text" name="SourceDBName" size="40" maxlength="255" value="{SourceDBName}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBTABLENAME}</b></td>
					<td align="right" class="line0" width="100%"><input type="text" name="SourceDBTableName" size="40" maxlength="255" value="{SourceDBTableName}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBUSER}</b></td>
					<td align="right" class="line1" width="100%"><input type="text" name="SourceDBUser" size="40" maxlength="255" value="{SourceDBUser}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBPASSWORD}</b></td>
					<td align="right" class="line0" width="100%"><input type="password" name="SourceDBPassword" size="40" maxlength="255" value="{SourceDBPassword}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_CFG_DBROWCOUNTING}</b></td>
					<td align="right" class="line1" width="100%">
						<input type="radio" name="SourceDBEnableRowCounting" value="true" {SourceDBEnableRowCounting_true}> Yes <input type="radio" name="SourceDBEnableRowCounting" value="false" {SourceDBEnableRowCounting_false}> No
					</td>
				</tr>
				</table>
				</div>

			<p>&nbsp;</p>
			<p>&nbsp;</p>
			</td>
		</tr>
		</table>

		<script language="javascript">
			// Manually perform initial Javascript Calls
			toggleSourceTypeVisibility('SourceType');
		</script>
		<!-- ENDIF INSTALL_STEP="7" -->

		<!-- IF INSTALL_STEP="8" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="tableBackground">
			<h1>{LN_INSTALL_STEP8}</h1>
			<p>
			{LN_INSTALL_STEP8_TEXT}
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			</td>
		</tr>
		</table>
		<!-- ENDIF INSTALL_STEP="8" -->


		<table width="100%" cellpadding="2" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="cellmenu1" width="50%">
			</td>
			<td class="line0" width="100" nowrap><B>{LN_INSTALL_PROGRESS}</B></td>
			<td class="line0" width="300" nowrap>
				<table width="100%" bgcolor="#007700" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td width="100%" align="left" nowrap><img src="{BarImageLeft}" width="8" height="17"><img src="{BarImagePlus}" width="{WidthPlus}%" height="17" title="{WidthPlusText}"><img src="{BarImageRight}" width="9" height="17"></td>
				</tr>
				</table>
			</td>
			<td class="line1" width="50" nowrap align="center">
				<!-- IF NEXT_ENABLED="true" -->
				<input type="submit" value="Next">
				<!-- ENDIF NEXT_ENABLED="true" -->
				<!-- IF RECHECK_ENABLED="true" -->
				<a href="?step={INSTALL_STEP}">{LN_INSTALL_RECHECK}</a>
				<!-- ENDIF RECHECK_ENABLED="true" -->
				<!-- IF FINISH_ENABLED="true" -->
				<a href="index.php">{LN_INSTALL_FINISH}</a>
				<!-- ENDIF FINISH_ENABLED="true" -->
			</td>
			<td class="cellmenu1" width="50%">
			</td>
		</tr>
		</table>

		</form>

		</td>
	</tr>
	</table>
<!-- INCLUDE include_footer.html -->