<!-- INCLUDE include_header.html --> 

<br>
<table width="100%" border="0" cellspacing="5" cellpadding="2" align="center" class="with_border">
<tr> 
	<td nowrap align="center" nowrap valign="middle" class="line1">
	<div id="SearchCode">{LN_SEARCH_USETHISBLA}</div>
	</td>
</tr>
</table>
<br>

<form action="" method="get" id="filterdateform" OnChange="CalculateSearchPreview('filterdateform', 'SearchCode');" onkeyup="CalculateSearchPreview('filterdateform', 'SearchCode');" >
<!-- BEGIN HIDDENVARS_SOURCE -->
<input type="hidden" name="{varname}" value="{varvalue}">
<!-- END HIDDENVARS_SOURCE -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
	<td width="50%" valign="top" class="table_with_border">

		<table border="0" cellpadding="1" cellspacing="1" width="100%" align="center">
		<tr>
			<td colspan="2" align="center" valign="top" class="title">
			<strong>{LN_FILTER_DATE}</strong></td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_FILTER_DATEMODE}</b></td>
			<td align="right" class="line0" width="100%">
				<select name="filter_datemode" size="1" OnChange="toggleDatefiltervisibility('filterdateform');">
					<!-- BEGIN datemodes -->
					<option {selected} value={ID}>{DisplayName}</option>
					<!-- END datemodes -->
				</select>
			</td>
		</tr>
		</table>

		<div id="HiddenDateFromOptions" class="HiddenContent">
		<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="100%" align="center">
		<tr>
			<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_FILTER_DATEFROM}</b></td>
			<td align="right" class="line1" width="100%">
				<select name="filter_daterange_from_year" size="1">
					<!-- BEGIN filter_daterange_from_year_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_from_year_list -->
				</select>
				 - 
				<select name="filter_daterange_from_month" size="1">
					<!-- BEGIN filter_daterange_from_month_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_from_month_list -->
				</select>
				 - 
				<select name="filter_daterange_from_day" size="1">
					<!-- BEGIN filter_daterange_from_day_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_from_day_list -->
				</select>
			</td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_FILTER_DATETO}</b></td>
			<td align="right" class="line0" width="100%">
				<select name="filter_daterange_to_year" size="1">
					<!-- BEGIN filter_daterange_to_year_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_to_year_list -->
				</select>
				 - 
				<select name="filter_daterange_to_month" size="1">
					<!-- BEGIN filter_daterange_to_month_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_to_month_list -->
				</select>
				 - 
				<select name="filter_daterange_to_day" size="1">
					<!-- BEGIN filter_daterange_to_day_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_to_day_list -->
				</select>
			</td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_FILTER_TIMEFROM}</b></td>
			<td align="right" class="line1" width="100%">
				<select name="filter_daterange_from_hour" size="1">
					<!-- BEGIN filter_daterange_from_hour_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_from_hour_list -->
				</select>
				 - 
				<select name="filter_daterange_from_minute" size="1">
					<!-- BEGIN filter_daterange_from_minute_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_from_minute_list -->
				</select>
				 - 
				<select name="filter_daterange_from_second" size="1">
					<!-- BEGIN filter_daterange_from_second_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_from_second_list -->
				</select>
			</td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_FILTER_TIMETO}</b></td>
			<td align="right" class="line1" width="100%">
				<select name="filter_daterange_to_hour" size="1">
					<!-- BEGIN filter_daterange_to_hour_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_to_hour_list -->
				</select>
				 - 
				<select name="filter_daterange_to_minute" size="1">
					<!-- BEGIN filter_daterange_to_minute_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_to_minute_list -->
				</select>
				 - 
				<select name="filter_daterange_to_second" size="1">
					<!-- BEGIN filter_daterange_to_second_list -->
					<option {selected} value="{value}">{value}</option>
					<!-- END filter_daterange_to_second_list -->
				</select>
			</td>
		</tr>
		</table>
		</div>

		<div id="HiddenDateLastXOptions" class="HiddenContent">
		<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="100%" align="center">
		<tr>
			<td align="left" class="cellmenu2" width="250" nowrap><b>{LN_FILTER_DATELASTX}</b></td>
			<td align="right" class="line1" width="100%">
				<select name="filter_daterange_last_x" size="1">
					<!-- BEGIN filter_daterange_last_x_list -->
					<option {selected} value="{ID}">{DisplayName}</option>
					<!-- END filter_daterange_last_x_list -->
				</select>
			</td>
		</tr>
		</table>
		</div>

<!--
		<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="100%" align="center">
		<tr>
			<td align="center" colspan="2">
				<input type="button" value="{LN_FILTER_ADD2SEARCH}" OnClick="addDatefilterToSearch('filterdateform', 'search');">
			</td>
		</tr>
		</table>
-->
	</td>
	<td width="10" valign="top" nowrap>&nbsp;</td>
	<td width="50%" valign="top" class="table_with_border">

		<table border="0" cellpadding="1" cellspacing="1" width="100%" align="center">
		<tr>
			<td colspan="4" align="center" valign="top" class="title">
			<strong>{LN_FILTER_OTHERS}</strong></td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2_naked" width="50%" nowrap><b>{LN_FILTER_FACILITY}</b></td>
			<td align="left" class="line1" nowrap>
				<select name="filter_facility[]" size="8" multiple>
					<!-- BEGIN filter_facility_list -->
					<option {selected} value="{ID}">{DisplayName}</option>
					<!-- END filter_facility_list -->
				</select>
			</td>
			<td align="left" class="cellmenu2_naked" width="50%" nowrap><b>{LN_FILTER_SEVERITY}</b></td>
			<td align="left" class="line1" nowrap>
				<select name="filter_severity[]" size="8" multiple>
					<!-- BEGIN filter_severity_list -->
					<option {selected} value="{ID}">{DisplayName}</option>
					<!-- END filter_severity_list -->
				</select>
			</td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2_naked" width="50%" nowrap colspan="2"><b>{LN_FILTER_MESSAGETYPE}</b></td>
			<td align="left" class="line0" nowrap colspan="2">
				<select name="filter_messagetype[]" size="3" multiple>
					<!-- BEGIN filter_messagetype_list -->
					<option {selected} value="{ID}">{DisplayName}</option>
					<!-- END filter_messagetype_list -->
				</select>
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td width="50%" valign="top" class="table_with_border">

		<table border="0" cellpadding="1" cellspacing="1" width="100%" align="center">
		<tr>
			<td colspan="2" align="center" valign="top" class="title">
			<strong>{LN_FILTER_MESSAGE}</strong></td>
		</tr>
		<tr>
			<td align="center" class="line0" width="100%">
			<input maxlength="2048" name="filter_message" size="70" title="Search" value="">
			</td>
		</tr>
		</table>
	</td>
	<td width="10" valign="top" nowrap>&nbsp;</td>
		<td width="50%" valign="top" class="table_with_border">

		<table border="0" cellpadding="1" cellspacing="1" width="100%" align="center">
		<tr>
			<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_FILTER_SYSLOGTAG}</b></td>
			<td align="right" class="line1" nowrap>
				<input maxlength="2048" name="filter_syslogtag" size="50" title="Search" value="">
			</td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_FILTER_SOURCE}</b></td>
			<td align="right" class="line1" nowrap>
				<input maxlength="2048" name="filter_source" size="50" title="Search" value="">
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td colspan="3" valign="top" align="center">
		<br>
		<input name="search" type="submit" value="{LN_SEARCH_PERFORMADVANCED}" class="SearchFormControl">
	</td>
</tr>
</table>
</form>

<br>

<script language="javascript">
	// Manually perform initial Javascript Calls
	toggleDatefiltervisibility('filterdateform');
</script>

<!-- INCLUDE include_footer.html -->