<!-- INCLUDE include_header.html --> 

<!-- IF ISERROR="true" -->
<br><br>
<center>
	<div class="table_with_border_second ErrorMsg" style="width:600px">
		<div class="PriorityError">{LN_GEN_ERRORDETAILS}</div>
		<p>{ERROR_MSG}</p>
		</div>
	<br><br>
</center>
<br><br>
<!-- ENDIF ISERROR="true" -->

<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
<tr>
	<td colspan="3" class="title" nowrap><B>{LN_MENU_STATISTICS}</B></td>
</tr>
<tr>
	<td width="50%" valign="top" class="line2">
	<br><br>

	<table width="400" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr><td class="cellmenu1" align="center"><B>{LN_STATS_GRAPH}: {LN_STATS_COUNTBYSOURCE}</B></td></tr>
	<tr><td class="line1"><img src="{BASEPATH}chartgenerator.php?type=2&byfield=FROMHOST&width=400&maxrecords=10" width="400" height="400"></td></tr>
	</table>

	<br><br>
	</td>
	<td width="50%" valign="top" class="line2">
	<br><br>

	<table width="400" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr><td class="cellmenu1" align="center"><B>{LN_STATS_GRAPH}: {LN_STATS_COUNTBYSYSLOGTAG}</B></td></tr>
	<tr><td class="line1"><img src="{BASEPATH}chartgenerator.php?type=1&byfield=syslogtag&width=400&maxrecords=10" width="400" height="400"></td></tr>
	</table>

	<br><br>
	</td>
</tr>
</table>

<!-- INCLUDE include_footer.html -->