<!-- INCLUDE include_header.html --> 

<!-- IF ISERROR="true" -->
<br><br>
<center>
	<div class="table_with_border_second ErrorMsg" style="width:600px">
		<div class="PriorityError">{LN_GEN_ERRORDETAILS}</div>
		<p>{ERROR_MSG}</p>
		</div>
	<br><br>
</center>
<br><br>
<!-- ENDIF ISERROR="true" -->

<!-- IF statsenabled="true" -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border_alternative">
<tr>
	<td colspan="3" class="title" nowrap><B>{LN_MENU_STATISTICS}</B></td>
</tr>

<!-- BEGIN Charts -->
{rowbegin}
	<br><br>
	<table cellpadding="0" cellspacing="0" border="0" align="center" valign="top">
	<tr><td class="cellmenu1" align="center"><B>{DisplayName}</B></td></tr>
	<tr><td class="{cssclass}">
		<img src="{BASEPATH}chartgenerator.php?type={chart_type}&byfield={chart_field}&width={chart_width}&maxrecords={maxrecords}" width="{chart_width}" height="{chart_width}">
	</td></tr>
	</table>
	<br><br>
{rowend}
<!-- END Charts -->
</table>
<!-- ENDIF statsenabled="true" -->

<!-- INCLUDE include_footer.html -->