P
{
    font-family: Tahoma, Arial;
    font-size: 10pt
}
TD
{
	border-width:0;
	border-right: black 0px solid;
	border-left: black 0px solid;
	border-style:solid;
	border-color:#000055;
}
H1
{
	font-weight: bold;
	color: #0AAD79;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
}
a:link,a:active,a:visited
{
	text-decoration: underline;
	color : #78DBF7;
}
a:hover
{
	text-decoration: underline;
	color : #5B4CF5;
}
body 
{
	background-color: #000000;

	margin: 0px;
	padding: 0px;

	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
}

table
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
}
/*
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	border-collapse: collapse;
*/

.ConfigTable
{	
	border: 1px solid;
	border-color:#00FF00;

	margin: 1px;
	padding-left: 5px;
}

.EventTable
{
	border: black 0px solid;
	padding: 5px;
	border-spacing: 2px;
}

.TDHEADER
{
	background-color: #1D3D33;

	border-right: black 0px solid;
	border-left: black 0px solid;
	border-top: black 0px solid;
	border-bottom: black 0px solid;

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight : bold;
	color: #FFFFFF;
	text-decoration: none;
}
.TD1
{
	background-color: #0D7B5A;

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight : bold;
	color: #FFFFFF;
	text-decoration: none;
}
.TD1:link,.TD1:active,.TD1:visited 
{ 
	color : #FFFFFF ; 
}
.TD1:hover
{
	background-color: #DCEEE8;
	color: #000000;
}
.TD2
{
	background-color: #2BBA8E;

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight : bold;
	color: #FFFFFF;
	text-decoration: none;
}
.TD2:link,.TD2:active,.TD2:visited 
{ 
	color : #000000 ; 
}
.TD2:hover
{
	background-color: #DCEEE8;
	color: #000000;
}

.Header1
{
	background-color: #BCC1C5;

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight : bold;
}
.PriorityEmergency
{
	color: #FFFFFF;
	background-color: #ff4444;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityAlert
{
	color: #FFFFFF;
	background-color: #dd00dd;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityCrit
{
	color: #FFFFFF;
	background-color: #dd9900;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityError
{
	color: #FFFFFF;
	background-color: #CC0000;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityWarning
{
	color: #FFFFFF;
	background-color: #FFAA00;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityNotice
{
	color: #FFFFFF;
	background-color: #66CC33;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityInfo
{
	color: #000000;
	background-color: #ABF1FF;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityDebug
{
	color: #FFFFFF;
	background-color: #3333ff;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}

.Msg
{

}
.Msg:link,.Msg:active,.Msg:visited 
{
  
}
.Msg:hover
{

}

.button
{
	background-color: #787878;
	border-color: #343434;
	color : #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}