<table width="100%" border="0" cellspacing="0" cellpadding="2">
<tr> 
	<td class="topmenu2begin" nowrap align="center" width="16"><img align="left" src="{MENU_BULLET_BLUE}" width="16" height="16" vspace="0"></td>

<!--	<td class="topmenu2" nowrap align="center" width="150"><a class="topmenu1_link" href="{BASEPATH}index.php?" target="_top"><img align="left" src="{MENU_HOMEPAGE}" width="16" height="16" vspace="0">{LN_ADMINMENU_HOMEPAGE}</a></td>-->
	<td class="topmenu2" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/index.php" target="_top"><img align="left" src="{MENU_PREFERENCES}" width="16" height="16" vspace="0">{LN_ADMINMENU_GENOPT}</a></td>
	<td class="topmenu2" nowrap align="center" width="80"><a class="topmenu1_link" href="{BASEPATH}admin/sources.php" target="_top"><img align="left" src="{MENU_DATAEDIT}" width="16" height="16" vspace="0">{LN_ADMINMENU_SOURCEOPT}</a></td>
	<td class="topmenu2" nowrap align="center" width="70"><a class="topmenu1_link" href="{BASEPATH}admin/fields.php" target="_top"><img align="left" src="{MENU_FIELDS}" width="16" height="16" vspace="0">{LN_ADMINMENU_FIELDOPT}</a></td>
	<td class="topmenu2" nowrap align="center" width="70"><a class="topmenu1_link" href="{BASEPATH}admin/views.php" target="_top"><img align="left" src="{MENU_DOCUMENTVIEW}" width="16" height="16" vspace="0">{LN_ADMINMENU_VIEWSOPT}</a></td>
	<td class="topmenu2" nowrap align="center" width="80"><a class="topmenu1_link" href="{BASEPATH}admin/searches.php" target="_top"><img align="left" src="{MENU_TEXT_FIND}" width="16" height="16" vspace="0">{LN_ADMINMENU_SEARCHOPT}</a></td>
	<td class="topmenu2" nowrap align="center" width="70"><a class="topmenu1_link" href="{BASEPATH}admin/charts.php" target="_top"><img align="left" src="{MENU_CHARTS}" width="16" height="16" vspace="0">{LN_ADMINMENU_CHARTOPT}</a></td>
	<td class="topmenu2" nowrap align="center" width="120"><a class="topmenu1_link" href="{BASEPATH}admin/parsers.php" target="_top"><img align="left" src="{MENU_INTERNAL}" width="16" height="16" vspace="0">{LN_ADMINMENU_MSGPARSERSOPT}</a></td>
	<td class="topmenu2" nowrap align="center" width="110"><a class="topmenu1_link" href="{BASEPATH}admin/reports.php" target="_top"><img align="left" src="{MENU_CHARTPRESENTATION}" width="16" height="16" vspace="0">{LN_ADMINMENU_REEPORTSOPT}</a></td>

	<!-- IF SESSION_ISADMIN="1" -->
	<td class="topmenu2" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/dbmappings.php" target="_top"><img align="left" src="{MENU_INTERNAL}" width="16" height="16" vspace="0">{LN_ADMINMENU_DBMAPPINGOPT}</a></td>
	<td class="topmenu2" nowrap align="center" width="70"><a class="topmenu1_link" href="{BASEPATH}admin/users.php" target="_top"><img align="left" src="{MENU_ADMINUSERS}" width="16" height="16" vspace="0">{LN_ADMINMENU_USEROPT}</a></td>
	<td class="topmenu2" nowrap align="center" width="70"><a class="topmenu1_link" href="{BASEPATH}admin/groups.php" target="_top"><img align="left" src="{MENU_ADMINGROUPS}" width="16" height="16" vspace="0">{LN_ADMINMENU_GROUPOPT}</a></td>
	<!-- ENDIF SESSION_ISADMIN="1" -->

	<!-- IF SESSION_LOGGEDIN="true" -->
<!--	<td class="topmenu2" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}login.php?op=logoff" target="_top"><img align="left" src="{MENU_ADMINLOGOFF}" width="16" height="16" vspace="0">{LN_MENU_LOGOFF}</a></td>-->
	<td class="topmenu2end" nowrap align="center" width="max">&nbsp;</td>
<!--	<td class="topmenuend" nowrap align="center" width="max">{LN_MENU_LOGGEDINAS} "{SESSION_USERNAME}"</td>-->
	<!-- ENDIF SESSION_LOGGEDIN="true" -->
	<!-- IF SESSION_LOGGEDIN!="true" -->
	<td class="topmenu2end" nowrap align="center" width="max">&nbsp;</td>
	<!-- ENDIF SESSION_LOGGEDIN!="true" -->
</tr>
</table>
