<!-- INCLUDE include_header.html --> 

<!-- IF ISERROR="true" -->
<br><br>
<center>
	<div class="table_with_border_second ErrorMsg" style="width:600px">
		<div class="PriorityError">{LN_GEN_ERRORDETAILS}</div>
		<p>{ERROR_MSG}</p>
		</div>
	<br><br>
	<a href="javascript:history.back();" target="_top">{LN_GEN_ERRORRETURNPREV}</a>
</center>
<br><br>
<!-- ENDIF ISERROR="true" -->

<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
<tr>
	<td colspan="3" class="title" nowrap><B>{LN_SEARCH_CENTER}</B></td>
</tr>
	<tr>
		<td align="center" class="line2">
		<br><br>

<!-- IF LISTSEARCHES="true" -->
		<table border="0" cellpadding="2" cellspacing="1" bgcolor="#DDDDDD" width="750" class="with_border_alternate">
		<tr>
			<td align="center" width="50" class="cellmenu1"><b>{LN_SEARCH_ID}</b></td>
			<td align="center" width="200" class="cellmenu1"><b>{LN_SEARCH_NAME}</b></td>
			<td align="center" width="200" class="cellmenu1"><b>{LN_SEARCH_QUERY}</b></td>
			<td align="center" width="150" class="cellmenu1"><b>{LN_SEARCH_TYPE}</b></td>
			<td align="center" width="150" class="cellmenu1"><b>{LN_GEN_ACTIONS}</b></td>
		</tr>
		<!-- BEGIN SEARCHES -->
		<tr>
			<td align="center" class="{cssclass}"><b>{ID}</b></td>
			<td align="left" class="{cssclass}">
			<!-- IF ActionsAllowed="true" -->
			<a href="{BASEPATH}admin/searches.php?op=edit&id={ID}">{DisplayName}</a>
			<!-- ENDIF ActionsAllowed="true" -->
			<!-- IF ActionsAllowed!="true" -->
			<b>{DisplayName}</b>
			<!-- ENDIF ActionsAllowed!="true" -->
			</td>
			<td align="left" class="{cssclass}"><a href="{BASEPATH}index.php?{SearchQuery}">{SearchQuery_Display}</a></td>
			<td align="left" class="{cssclass}"><img src="{SearchTypeImage}" width="16" align="left"> <b>{SearchTypeText}</b></td>

			<td align="center" class="{cssclass}">
				<!-- IF ActionsAllowed="true" -->
				&nbsp;<a href="{BASEPATH}admin/searches.php?op=edit&id={ID}"><img src="{MENU_EDIT}" width="16" title="{LN_SEARCH_EDIT}"></a>
				&nbsp;<a href="{BASEPATH}admin/searches.php?op=delete&id={ID}"><img src="{MENU_DELETE}" width="16" title="{LN_SEARCH_DELETE}"></a>
				<!-- ENDIF ActionsAllowed="true" -->
				<!-- IF ActionsAllowed!="true" -->
				&nbsp;<img src="{MENU_EDIT_DISABLED}" width="16" title="{LN_GEN_DISABLED}">
				&nbsp;<img src="{MENU_DELETE_DISABLED}" width="16" title="{LN_GEN_DISABLED}">
				<!-- ENDIF ActionsAllowed!="true" -->
			</td>
		</tr>
		<!-- END SEARCHES -->
		<tr>
			<td align="center" colspan="5" class="line0"><b><a href="{BASEPATH}admin/searches.php?op=add"><img src="{MENU_ADD}" title="{LN_SEARCH_ADD}">&nbsp;{LN_SEARCH_ADD}</a></b></td>
		</tr>
		</table>
<!-- ENDIF LISTSEARCHES="true" -->

<!-- IF ISEDITORNEWSEARCH="true" -->
		<form action="{BASEPATH}admin/searches.php" method="post">
			<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="600" class="with_border_alternate">
			<tr>
				<td align="center" class="cellmenu1" colspan="2"><b>{LN_SEARCH_ADDEDIT}</b></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" width="250"><b>{LN_SEARCH_NAME}</b></td>
				<td align="left" class="line1" width="350"><input type="text" name="DisplayName" size="55" maxlength="255" value="{DisplayName}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2"><b>{LN_SEARCH_QUERY}</b></td>
				<td align="left" class="line2"><input type="text" name="SearchQuery" size="55" maxlength="1024" value="{SearchQuery}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2"><b>{LN_GEN_USERONLY}</b></td>
				<td align="left" class="line1"><input type="checkbox" name="isuseronly" value="{userid}" {CHECKED_ISUSERONLY}></td>
			</tr>
			<!-- IF ISGROUPSAVAILABLE="true" -->
			<tr>
				<td align="left" class="cellmenu2"><b>{LN_GEN_GROUPONLY}</b></td>
				<td align="left" class="line2">
					<select name="groupid" size="1" STYLE="width: 300px" {READONLY_ISUSERONLY}>
						<!-- BEGIN SUBGROUPS -->
						<option value="{mygroupid}" {group_selected}>{groupname}</option>
						<!-- END SUBGROUPS -->
					</select>
				</td>
			</tr>
			<!-- ENDIF ISGROUPSAVAILABLE="true" -->
			<tr>
				<td align="center" colspan="2">
					<input type="submit" value="{SEARCH_SENDBUTTON}">
					<input type="hidden" name="op" value="{SEARCH_FORMACTION}">
					<input type="hidden" name="id" value="{SEARCHID}">
				</td>
			</tr>
			</table>
		</form>
<!-- ENDIF ISEDITORNEWSEARCH="true" -->

		<br><br>

		</td>
	</tr>
</table>

<!-- INCLUDE include_footer.html -->