<!-- INCLUDE include_header.html --> 

<!-- IF ISERROR="true" -->
<br><br>
<center>
	<div class="table_with_border_second ErrorMsg" style="width:600px">
		<div class="PriorityError">{LN_GEN_ERRORDETAILS}</div>
		<p>{ERROR_MSG}</p>
		</div>
	<br><br>
	<a href="javascript:history.back();" target="_top">{LN_GEN_ERRORRETURNPREV}</a>
</center>
<br><br>
<!-- ENDIF ISERROR="true" -->

<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
<tr>
	<td colspan="3" class="title" nowrap><B>{LN_ADMINMENU_REEPORTSOPT}</B></td>
</tr>
	<tr>
		<td align="center" class="line2">
		<br><br>

<!-- IF LISTREPORTS="true" -->
		<table border="0" cellpadding="2" cellspacing="1" bgcolor="#DDDDDD" width="775" class="with_border_alternate">
		<tr>
			<td align="center" width="100" class="cellmenu1"><b>{LN_REPORTS_ID}</b></td>
			<td align="center" width="200" class="cellmenu1"><b>{LN_REPORTS_NAME}</b></td>
			<td align="center" width="300" class="cellmenu1"><b>{LN_REPORTS_DESCRIPTION}</b></td>
			<td align="center" width="125" class="cellmenu1" nowrap><b>{LN_GEN_ACTIONS}</b></td>
		</tr>
		<!-- BEGIN REPORTS -->
		<tr>
			<td align="left" class="{cssclass}" valign="top"><b>{ID}</b></td>
			<td align="left" class="{cssclass}" valign="top"><a href="{BASEPATH}admin/reports.php?op=details&id={ID}">{DisplayName}</a></td>
			<td align="left" class="{cssclass}" valign="top">{Description}</td>
			<td align="center" class="{cssclass}">
				<a href="{BASEPATH}admin/reports.php?op=addsavedreport&id={ID}"><img src="{MENU_ADD}" width="16" title="{LN_REPORTS_ADDSAVEDREPORT}"></a>&nbsp;

				<!-- IF ReportHelpEnabled="true" -->
				<a href="{ReportHelpArticle}" target="_blank"><img src="{MENU_HELP}" width="16" title="{LN_REPORTS_HELP}"></a>&nbsp;&nbsp;
				<!-- ENDIF ReportHelpEnabled="true" -->
				<a href="{BASEPATH}admin/reports.php?op=details&id={ID}"><img src="{MENU_INFORMATION}" width="16" title="{LN_REPORTS_INFO}"></a>
				<!-- IF EnableNeedsInit="true" -->
					<!-- IF InitEnabled="true" -->
					&nbsp;<a href="{BASEPATH}admin/reports.php?op=initreport&id={ID}"><img src="{MENU_PARSER_INIT}" width="16" title="{LN_REPORTS_INIT}"></a>
					<!-- ENDIF InitEnabled="true" -->
					<!-- IF DeleteEnabled="true" -->
					&nbsp;<a href="{BASEPATH}admin/reports.php?op=removereport&id={ID}"><img src="{MENU_PARSER_DELETE}" width="16" title="{LN_REPORTS_REMOVE}"></a>
					<!-- ENDIF DeleteEnabled="true" -->
				<!-- ENDIF EnableNeedsInit="true" -->
			</td>
		</tr>
		<!-- IF HASSAVEDREPORTS="true" -->
		<tr>
			<td align="center" colspan="2" rowspan="{SavedReportRowSpan}" class="cellmenu2_naked" valign="top">{LN_REPORTS_SAVEDREPORTS}</td>
			<td align="left" colspan="2" class="line1">
			</td>
		</tr>
		<!-- BEGIN SAVEDREPORTS -->
		<tr>
			<td align="left" class="{srcssclass}">
			<img src="{MENU_REPORTS}" width="16">
			<a href="{BASEPATH}admin/reports.php?op=editsavedreport&id={ID}&savedreportid={SavedReportID}">{customTitle}</a>
			</td>
			<td align="center" class="{srcssclass}">
				&nbsp;<a href="{BASEPATH}reportgenerator.php?op=runreport&id={ID}&savedreportid={SavedReportID}" target="_blank"><img src="{MENU_CHART_PREVIEW}" width="16" title="{LN_REPORTS_RUNNOW}"></a>
				&nbsp;<a href="{BASEPATH}admin/reports.php?op=editsavedreport&id={ID}&savedreportid={SavedReportID}"><img src="{MENU_EDIT}" width="16" title="{LN_REPORTS_EDITSAVEDREPORT}"></a>
				&nbsp;<a href="{BASEPATH}admin/reports.php?op=removesavedreport&savedreportid={SavedReportID}"><img src="{MENU_DELETE}" width="16" title="{LN_REPORTS_REMOVESAVEDREPORT}"></a>

			</td>
		</tr>
		<!-- END SAVEDREPORTS -->

		<!-- ENDIF HASSAVEDREPORTS="true" -->

		<!-- END REPORTS -->
		</table>
<!-- ENDIF LISTREPORTS="true" -->

<!-- IF ISSHOWDETAILS="true" -->
		<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="600" class="with_border_alternate">
		<tr>
			<td align="center" class="cellmenu1" colspan="2"><b>{LN_REPORTS_DETAILS}</b></td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2" width="250"><b>{LN_REPORTS_ID}</b></td>
			<td align="left" class="line1" width="350">{ReportID}</td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2"><b>{LN_REPORTS_NAME}</b></td>
			<td align="left" class="line2">{DisplayName}</td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2_naked" valign="top"><b>{LN_REPORTS_DESCRIPTION}</b></td>
			<td align="left" class="line1">{Description}</td>
		</tr>
		<!-- IF EnableHelpArticle="true" -->
		<tr>
			<td align="left" class="cellmenu2"><b>{LN_REPORTS_HELP}</b></td>
			<td align="center" class="line2"><a href="{ReportHelpArticle}" target="_blank">{LN_REPORTS_HELP_CLICK}</a></td>
		</tr>
		<!-- ENDIF EnableHelpArticle="true" -->
		<!-- IF EnableNeedsInit="true" -->
		<tr>
			<td align="center" class="tableBackground" colspan="2">
				<!-- IF InitEnabled="true" -->
				<a href="{BASEPATH}admin/reports.php?op=initreport&id={ReportID}"><img src="{MENU_PARSER_INIT}" width="16" title="{LN_REPORTS_INIT}"> {LN_REPORTS_INIT}</a>
				<!-- ENDIF InitEnabled="true" -->
				<!-- IF DeleteEnabled="true" -->
				<a href="{BASEPATH}admin/reports.php?op=removereport&id={ReportID}"><img src="{MENU_PARSER_DELETE}" width="16" title="{LN_REPORTS_REMOVE}"> {LN_REPORTS_REMOVE}</a>
				<!-- ENDIF DeleteEnabled="true" -->
			</td>
		</tr>
		<!-- ENDIF EnableNeedsInit="true" -->
		</table>

		<!-- IF HASSAVEDREPORTS="true" -->
		<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="600" class="with_border_alternate">
		<tr>
			<td align="center" colspan="2" class="cellmenu2" valign="top">{LN_REPORTS_SAVEDREPORTS}</td>
		</tr>
		<!-- BEGIN SAVEDREPORTS -->
		<tr>
			<td align="left" class="{srcssclass}">
			<img src="{MENU_REPORTS}" width="16">
			<a href="{BASEPATH}admin/reports.php?op=editsavedreport&id={ReportID}&savedreportid={SavedReportID}">{customTitle}</a>
			</td>
			<td align="center" class="{srcssclass}">
				&nbsp;<a href="{BASEPATH}todo.php?op=runreport&savedreportid={SavedReportID}" target="_blank"><img src="{MENU_CHART_PREVIEW}" width="16" title="{LN_REPORTS_RUNNOW}"></a>
				&nbsp;<a href="{BASEPATH}admin/reports.php?op=editsavedreport&id={ReportID}&savedreportid={SavedReportID}"><img src="{MENU_EDIT}" width="16" title="{LN_REPORTS_EDITSAVEDREPORT}"></a>
				&nbsp;<a href="{BASEPATH}admin/reports.php?op=removesavedreport&savedreportid={SavedReportID}"><img src="{MENU_DELETE}" width="16" title="{LN_REPORTS_REMOVESAVEDREPORT}"></a>

			</td>
		</tr>
		<!-- END SAVEDREPORTS -->
		</table>
		<!-- ENDIF HASSAVEDREPORTS="true" -->


		<br><br>
		<a href="javascript:history.back();" target="_top">{LN_GEN_ERRORRETURNPREV}</a>
<!-- ENDIF ISSHOWDETAILS="true" -->

<!-- IF ISADDSAVEDREPORT="true" -->
		<form action="{BASEPATH}admin/reports.php{FormUrlAddOP}" method="post">
			<input type="hidden" name="id" value="{ReportID}">
			<input type="hidden" name="savedreportid" value="{SavedReportID}">
<!--			<input type="hidden" name="op" value="addsavedreport">-->
			<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="800" class="with_border_alternate">
			<tr>
				<td align="center" class="cellmenu1" colspan="2"><b>{LN_REPORTS_ADDSAVEDREPORT}: '{DisplayName}'</b></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_REPORTS_CUSTOMTITLE}</b></td>
				<td align="center" class="line1" width="100%"><input type="text" name="report_customtitle" size="80" maxlength="255" value="{customTitle}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_REPORTS_CUSTOMCOMMENT}</b></td>
				<td align="center" class="line2" width="100%"><input type="text" name="report_customcomment" size="80" maxlength="255" value="{customComment}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2_naked" width="150" valign="top" nowrap rowspan="2"><b>{LN_REPORTS_FILTERSTRING}</b></td>
				<td align="center" class="line1" width="100%"><input type="text" name="report_filterString" size="80" maxlength="255" value="{filterString}"></td>
			</tr>
			<tr>
				<td align="center" class="line1" width="100%">

				<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="550" class="with_border_alternate">
				<tr>
					<td align="center" class="cellmenu1" colspan="4"><b>{LN_REPORTS_FILTERLIST}</b></td>
				</tr>
				<!-- BEGIN SUBFILTERS -->
				<tr>
					<td align="left" class="{colcssclass}" width="200">
						<input type="hidden" name="Filters[]" value="{FilterFieldID}">
						<b>{FilterFieldName} (<I>{FilterFieldID}</I>)</b>
					</td>
					<td align="left" class="{colcssclass}" width="100">
						<select name="newcomparison_{ROWCNT}" size="1" STYLE="width: 100px">
							<!-- BEGIN Comparisons -->
							<option value="{ComparisonBit}" {cp_selected}>{ComparisonCaption}</option>
							<!-- END Comparisons -->
						</select>
					</td>
					<td align="left" class="{colcssclass}" width="200">
						<input type="text" name="FilterValue_{ROWCNT}" size="32" maxlength="255" value="{FilterValue}">
					</td>
					
					<td align="center" class="{colcssclass}" width="50">
						<button name="subop_edit" type="submit" value="{FilterFieldID}" class="borderlessbuttons" title="{LN_REPORTS_FILTER_EDIT}"><img src="{MENU_EDIT}" width="16" alt="{LN_REPORTS_FILTER_EDIT}"></button>
<!--						
						<button name="subop_moveup" type="submit" value="{FilterFieldID}" class="borderlessbuttons" title="{LN_REPORTS_FILTER_MOVEUP}"><img src="{MENU_MOVE_UP}" width="16" alt="{LN_REPORTS_FILTER_MOVEUP}"></button>
						<button name="subop_movedown" type="submit" value="{FilterFieldID}" class="borderlessbuttons" title="{LN_REPORTS_FILTER_MOVEDOWN}"><img src="{MENU_MOVE_DOWN}" width="16" alt="{LN_REPORTS_FILTER_MOVEDOWN}"></button>
-->
						<button name="subop_delete" type="submit" value="{FilterFieldID}" class="borderlessbuttons" title="{LN_REPORTS_FILTER_REMOVE}"><img src="{MENU_DELETE}" width="16" alt="{LN_REPORTS_FILTER_REMOVE}"></button>
					</td>
				</tr>
				<!-- END SUBFILTERS -->
				<tr>
					<td align="center" class="line2" colspan="4">

						<select name="newfilter" size="1" STYLE="width: 200px">
							<!-- BEGIN FIELDS -->
							<option value="{FieldID}" {group_selected}>{FieldCaption}</option>
							<!-- END FIELDS -->
						</select>
						<input type="submit" name="subop" value="{LN_REPORTS_ADDFILTER}">
					</td>
				</tr>
				</table>

				</td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_REPORTS_SOURCEID}</b></td>
				<td align="center" class="line2" width="100%">
					<select name="SourceID" size="1" STYLE="width: 415px">
						<!-- BEGIN SOURCES -->
						<option value="{SourceID}" {sourceselected}>{Name}</option>
						<!-- END SOURCES -->
					</select>
				</td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_REPORTS_OUTPUTFORMAT}</b></td>
				<td align="center" class="line1" width="100%">
					<select name="outputFormat" size="1" STYLE="width: 415px">
						<!-- BEGIN OUTPUTFORMATS -->
						<option value="{formatid}" {formatselected}>{formatdisplayname}</option>
						<!-- END OUTPUTFORMATS -->
					</select>
				</td>
			</tr>
			
			<tr>
				<td align="center" colspan="2">
					<button name="op" type="submit" value="{REPORT_FORMACTION}" title="{REPORT_SENDBUTTON}">{REPORT_SENDBUTTON}</button>
				</td>
			</tr>
			</table>
		</form>

		<a href="javascript:history.back();" target="_top">{LN_GEN_ERRORRETURNPREV}</a>
		<br><br>
<!-- ENDIF ISADDSAVEDREPORT="true" -->

		<br><br>

		</td>
	</tr>
</table>

<!-- INCLUDE include_footer.html -->