<!-- INCLUDE include_header.html --> 

<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
<tr>
	<td colspan="3" class="title" nowrap><B>{LN_ADMINMENU_GENOPT}</B></td>
</tr>
</table>
<br><br>

<!-- IF isupdateavailable="true" -->
<center>
	<div class="table_with_border_second ErrorMsg" style="width:400px">
		<div class="PriorityError">{LN_UPDATE_AVAILABLE}</div>
		<p>
		{LN_UPDATE_INSTALLEDVER} {BUILDNUMBER}
		<br>
		{LN_UPDATE_AVAILABLEVER} {UPDATEVERSION}
		<br>
		<a href="{isupdateavailable_updatelink}" target="_blank">{LN_UPDATE_LINK}</a>
		</p>
	</div>
</center>
</br>
<!-- ENDIF isupdateavailable="true" -->
	
<form action="" method="post">
	<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="750" align="center">
	<tr>
		<td colspan="2" class="line1">&nbsp;</td>
		<td align="center" class="cellmenu1_naked" width="50%" nowrap rowspan="2" valign="middle">
<!-- IF ENABLEUSEROPTIONS="true" -->
		<a href="?op=enableuserops&value=0" class="cellmenu1_link">{LN_GEN_DISABLEUSEROPTIONS}</a>
		<br><img src="{MENU_USEROPTIONS}" align="left" width="16" height="16" vspace="0">
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
<!-- IF ENABLEUSEROPTIONS!="true" -->
		<a href="?op=enableuserops&value=1" class="cellmenu1_link">{LN_GEN_ENABLEUSEROPTIONS}</a>
		<br><img src="{MENU_USEROPTIONS}" align="left" width="16" height="16" vspace="0">
<!-- ENDIF ENABLEUSEROPTIONS!="true" -->
		<b>{LN_GEN_PERSONALVALUE}</b>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu1" width="250" nowrap><b>{LN_GEN_OPTIONNAME}</b></td>
		<td align="center" class="cellmenu1" width="50%" nowrap><img src="{MENU_GLOBAL}" align="left" width="16" height="16" vspace="0"><b>{LN_GEN_GLOBALVALUE}</b></td>
	</tr>
	<tr>
		<td colspan="3" align="center" valign="top" class="title">
		<strong>{LN_ADMIN_GLOBFRONTEND}</strong></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" width="250" nowrap><b>{LN_GEN_WEBSTYLE}</b></td>
		<td align="left" class="line1">
			<select name="ViewDefaultTheme" size="1" {DISABLE_GLOBALEDIT_FORMCONTROL}>
				<!-- BEGIN GLOBAL_STYLES -->
				<option {selected}>{StyleName}</option>
				<!-- END GLOBAL_STYLES -->
			</select>
		</td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1">
			<select name="User_ViewDefaultTheme" size="1">
				<!-- BEGIN USER_STYLES -->
				<option {selected}>{StyleName}</option>
				<!-- END USER_STYLES -->
			</select>
		</td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" width="250" nowrap><b>{LN_GEN_SELLANGUAGE}</b></td>
		<td align="left" class="line2">
			<select name="ViewDefaultLanguage" size="1" {DISABLE_GLOBALEDIT_FORMCONTROL}>
				<!-- BEGIN GLOBAL_LANGUAGES -->
				<option {selected} value="{langcode}">{DisplayName}</option>
				<!-- END GLOBAL_LANGUAGES -->
			</select>
		</td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line2">
			<select name="User_ViewDefaultLanguage" size="1">
				<!-- BEGIN USER_LANGUAGES -->
				<option {selected} value="{langcode}">{DisplayName}</option>
				<!-- END USER_LANGUAGES -->
			</select>
		</td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_DEFVIEWS}</b></td>
		<td align="left" class="line1">
			<select id="DefaultViewsID" name="DefaultViewsID" size="1" {DISABLE_GLOBALEDIT_FORMCONTROL}>
				<!-- BEGIN VIEWS -->
				<option {selected} value="{ID}">{DisplayName}</option>
				<!-- END VIEWS -->
			</select>
		</td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1">
			<select id="User_DefaultViewsID" name="User_DefaultViewsID" size="1">
				<!-- BEGIN USER_VIEWS -->
				<option {selected} value="{ID}">{DisplayName}</option>
				<!-- END USER_VIEWS -->
			</select>
		</td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_DEFSOURCE}</b></td>
		<td align="left" class="line1">
			<select id="DefaultSourceID" name="DefaultSourceID" size="1" {DISABLE_GLOBALEDIT_FORMCONTROL}>
				<!-- BEGIN SOURCES -->
				<option {selected} value="{ID}">{Name}</option>
				<!-- END SOURCES -->
			</select>
		</td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1">
			<select id="User_DefaultSourceID" name="User_DefaultSourceID" size="1">
				<!-- BEGIN USER_SOURCES -->
				<option {selected} value="{ID}">{Name}</option>
				<!-- END USER_SOURCES -->
			</select>
		</td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>

	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_PREPENDTITLE}</b></td>
		<td align="left" class="line1" ><input type="text" name="PrependTitle" size="35" maxlength="255" value="{PrependTitle}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="text" name="User_PrependTitle" size="35" maxlength="255" value="{User_PrependTitle}"></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_MSGCHARLIMIT}</b></td>
		<td align="left" class="line1" ><input type="text" name="ViewMessageCharacterLimit" size="16" maxlength="12" value="{ViewMessageCharacterLimit}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="text" name="User_ViewMessageCharacterLimit" size="16" maxlength="12" value="{User_ViewMessageCharacterLimit}"></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_STRCHARLIMIT}</b></td>
		<td align="left" class="line1" ><input type="text" name="ViewStringCharacterLimit" size="16" maxlength="12" value="{ViewStringCharacterLimit}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="text" name="User_ViewStringCharacterLimit" size="16" maxlength="12" value="{User_ViewStringCharacterLimit}"></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>

	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_ENTRIESPERPAGE}</b></td>
		<td align="left" class="line1" ><input type="text" name="ViewEntriesPerPage" size="16" maxlength="12" value="{ViewEntriesPerPage}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="text" name="User_ViewEntriesPerPage" size="16" maxlength="12" value="{User_ViewEntriesPerPage}"></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_AUTORELOADSECONDS}</b></td>
		<td align="left" class="line1" ><input type="text" name="ViewEnableAutoReloadSeconds" size="16" maxlength="12" value="{ViewEnableAutoReloadSeconds}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="text" name="User_ViewEnableAutoReloadSeconds" size="16" maxlength="12" value="{User_ViewEnableAutoReloadSeconds}"></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_ADMINCHANGEWAITTIME}</b></td>
		<td align="left" class="line1" ><input type="text" name="AdminChangeWaitTime" size="16" maxlength="12" value="{AdminChangeWaitTime}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="text" name="User_AdminChangeWaitTime" size="16" maxlength="12" value="{User_AdminChangeWaitTime}"></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_POPUPMENUTIMEOUT}</b></td>
		<td align="left" class="line1" ><input type="text" name="PopupMenuTimeout" size="16" maxlength="12" value="{PopupMenuTimeout}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="text" name="User_PopupMenuTimeout" size="16" maxlength="12" value="{User_PopupMenuTimeout}"></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>

	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_CUSTBTNCAPT}</b></td>
		<td align="left" class="line1" ><input type="text" name="SearchCustomButtonCaption" size="35" maxlength="255" value="{SearchCustomButtonCaption}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="text" name="User_SearchCustomButtonCaption" size="35" maxlength="255" value="{User_SearchCustomButtonCaption}"></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_CUSTBTNSRCH}</b></td>
		<td align="left" class="line1" ><input type="text" name="SearchCustomButtonSearch" size="35" maxlength="255" value="{SearchCustomButtonSearch}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="text" name="User_SearchCustomButtonSearch" size="35" maxlength="255" value="{User_SearchCustomButtonSearch}"></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_USETODAY}</b></td>
		<td align="left" class="line1" ><input type="checkbox" name="ViewUseTodayYesterday" value="yes" {ViewUseTodayYesterday_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="checkbox" name="User_ViewUseTodayYesterday" value="yes" {User_ViewUseTodayYesterday_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_DETAILPOPUPS}</b></td>
		<td align="left" class="line1" ><input type="checkbox" name="ViewEnableDetailPopups" value="yes" {ViewEnableDetailPopups_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="checkbox" name="User_ViewEnableDetailPopups" value="yes" {User_ViewEnableDetailPopups_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_CONTEXTLINKS}</b></td>
		<td align="left" class="line1" ><input type="checkbox" name="EnableContextLinks" value="yes" {EnableContextLinks_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="checkbox" name="User_EnableContextLinks" value="yes" {User_EnableContextLinks_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_IPADRRESOLVE}</b></td>
		<td align="left" class="line1" ><input type="checkbox" name="EnableIPAddressResolve" value="yes" {EnableIPAddressResolve_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="checkbox" name="User_EnableIPAddressResolve" value="yes" {User_EnableIPAddressResolve_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_SUPPRESSDUPMSG}</b></td>
		<td align="left" class="line1" ><input type="checkbox" name="SuppressDuplicatedMessages" value="yes" {SuppressDuplicatedMessages_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="checkbox" name="User_SuppressDuplicatedMessages" value="yes" {User_SuppressDuplicatedMessages_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_TREATFILTERSTRUE}</b></td>
		<td align="left" class="line1" ><input type="checkbox" name="TreatNotFoundFiltersAsTrue" value="yes" {TreatNotFoundFiltersAsTrue_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="checkbox" name="User_TreatNotFoundFiltersAsTrue" value="yes" {User_TreatNotFoundFiltersAsTrue_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_INLINESEARCHICONS}</b></td>
		<td align="left" class="line1" ><input type="checkbox" name="InlineOnlineSearchIcons" value="yes" {InlineOnlineSearchIcons_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="checkbox" name="User_InlineOnlineSearchIcons" value="yes" {User_InlineOnlineSearchIcons_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td colspan="3" align="center" valign="top" class="title">
		<strong>{LN_ADMIN_MISC}</strong></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_SHOWDEBUGMSG}</b></td>
		<td align="left" class="line1" ><input type="checkbox" name="MiscShowDebugMsg" value="yes" {MiscShowDebugMsg_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="checkbox" name="User_MiscShowDebugMsg" value="yes" {User_MiscShowDebugMsg_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_DEBUGGRIDCOUNTER}</b></td>
		<td align="left" class="line2" ><input type="checkbox" name="MiscShowDebugGridCounter" value="yes" {MiscShowDebugGridCounter_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line2" ><input type="checkbox" name="User_MiscShowDebugGridCounter" value="yes" {User_MiscShowDebugGridCounter_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_SHOWPAGERENDERSTATS}</b></td>
		<td align="left" class="line1" ><input type="checkbox" name="MiscShowPageRenderStats" value="yes" {MiscShowPageRenderStats_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line1" ><input type="checkbox" name="User_MiscShowPageRenderStats" value="yes" {User_MiscShowPageRenderStats_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_GEN_ENABLEGZIP}</b></td>
		<td align="left" class="line2" ><input type="checkbox" name="MiscEnableGzipCompression" value="yes" {MiscEnableGzipCompression_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
<!-- IF ENABLEUSEROPTIONS="true" -->
		<td align="left" class="line2" ><input type="checkbox" name="User_MiscEnableGzipCompression" value="yes" {User_MiscEnableGzipCompression_checked}></td>
<!-- ENDIF ENABLEUSEROPTIONS="true" -->
	</tr>
	<tr>
		<td colspan="3" align="center" valign="top" class="title">
		<strong>{LN_ADMIN_GLOBALONLY}</strong></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2"><b>{LN_ADMIN_SCRIPTTIMEOUT}</b></td>
		<td align="left" class="line1" colspan="2"><input type="text" name="MiscMaxExecutionTime" size="16" maxlength="12" value="{MiscMaxExecutionTime}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2_naked"><b>{LN_ADMIN_PHPLOGCON_LOGOURL}</b></td>
		<td align="left" class="line2" colspan="2"><input type="text" name="PhplogconLogoUrl" size="85" maxlength="255" value="{PhplogconLogoUrl}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2_naked"><b>{LN_ADMIN_USEPROXYSERVER}</b></td>
		<td align="left" class="line1" colspan="2"><input type="text" name="UseProxyServerForRemoteQueries" size="85" maxlength="255" value="{UseProxyServerForRemoteQueries}" {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2"><b>{LN_ADMIN_DEFAULTENCODING}</b></td>
		<td align="left" class="line1" colspan="2">
			<select id="HeaderDefaultEncoding" name="HeaderDefaultEncoding" size="1" {DISABLE_GLOBALEDIT_FORMCONTROL}>
				<!-- BEGIN ENCODINGS -->
				<option {selected} value="{ID}">{DisplayName}</option>
				<!-- END ENCODINGS -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2"><b>{LN_GEN_DEBUGUSERLOGIN}</b></td>
		<td align="left" class="line2" colspan="2"><input type="checkbox" name="DebugUserLogin" value="yes" {DebugUserLogin_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2"><b>{LN_GEN_DEBUGTOSYSLOG}</b></td>
		<td align="left" class="line1" colspan="2"><input type="checkbox" name="MiscDebugToSyslog" value="yes" {MiscDebugToSyslog_checked} {DISABLE_GLOBALEDIT_FORMCONTROL}></td>
	</tr>
	
	<tr>
		<td align="left" class="cellmenu2_naked" valign="_top"><b>{LN_GEN_INJECTHTMLHEADER}</b></td>
		<td align="left" class="line2" colspan="2"><textarea name="InjectHtmlHeader" cols="85" rows="3" {DISABLE_GLOBALEDIT_FORMCONTROL}>{InjectHtmlHeader}</textarea></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2_naked" valign="_top"><b>{LN_GEN_INJECTBODYHEADER}</b></td>
		<td align="left" class="line1" colspan="2"><textarea name="InjectBodyHeader" cols="85" rows="3" {DISABLE_GLOBALEDIT_FORMCONTROL}>{InjectBodyHeader}</textarea></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2_naked" valign="_top"><b>{LN_GEN_INJECTBODYFOOTER}</b></td>
		<td align="left" class="line2" colspan="2"><textarea name="InjectBodyFooter" cols="85" rows="3" {DISABLE_GLOBALEDIT_FORMCONTROL}>{InjectBodyFooter}</textarea></td>
	</tr>
	<tr>
	<tr>
		<td align="center" colspan="3">
			<input type="submit" value="{LN_ADMIN_SEND}">
			<input type="hidden" name="op" value="edit">
		</td>
	</tr>
	</table>

</form>

<br><br>

<!-- INCLUDE include_footer.html -->