<!-- INCLUDE include_header.html --> 

<!-- IF ISERROR="true" -->
<br><br>
<center>
	<div class="table_with_border_second ErrorMsg" style="width:600px">
		<div class="PriorityError">{LN_GEN_ERRORDETAILS}</div>
		<p>{ERROR_MSG}</p>
		</div>
	<br><br>
	<a href="javascript:history.back();" target="_top">{LN_GEN_ERRORRETURNPREV}</a>
</center>
<br><br>
<!-- ENDIF ISERROR="true" -->

<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
<tr>
	<td colspan="3" class="title" nowrap><B>{LN_ADMINMENU_REEPORTSOPT}</B></td>
</tr>
	<tr>
		<td align="center" class="line2">
		<br><br>

<!-- IF LISTREPORTS="true" -->
		<table border="0" cellpadding="2" cellspacing="1" bgcolor="#DDDDDD" width="775" class="with_border_alternate">
		<tr>
			<td align="center" width="100" class="cellmenu1"><b>{LN_REPORTS_ID}</b></td>
			<td align="center" width="200" class="cellmenu1"><b>{LN_REPORTS_NAME}</b></td>
			<td align="center" width="300" class="cellmenu1"><b>{LN_REPORTS_DESCRIPTION}</b></td>
			<td align="center" width="125" class="cellmenu1" nowrap><b>{LN_GEN_ACTIONS}</b></td>
		</tr>
		<!-- BEGIN REPORTS -->
		<tr>
			<td align="left" class="{cssclass}" valign="top"><b>{ID}</b></td>
			<td align="left" class="{cssclass}" valign="top"><a href="{BASEPATH}admin/reports.php?op=details&id={ID}">{DisplayName}</a></td>
			<td align="left" class="{cssclass}" valign="top">{Description}</td>
			<td align="center" class="{cssclass}">
				<a href="{BASEPATH}admin/reports.php?op=addsavedreport&id={ID}"><img src="{MENU_ADD}" width="16" title="{LN_REPORTS_ADDSAVEDREPORT}"></a>&nbsp;

				<!-- IF ReportHelpEnabled="true" -->
				<a href="{ReportHelpArticle}" target="_blank"><img src="{MENU_HELP}" width="16" title="{LN_REPORTS_HELP}"></a>&nbsp;&nbsp;
				<!-- ENDIF ReportHelpEnabled="true" -->
				<a href="{BASEPATH}admin/reports.php?op=details&id={ID}"><img src="{MENU_INFORMATION}" width="16" title="{LN_REPORTS_INFO}"></a>
				<!-- IF EnableNeedsInit="true" -->
					<!-- IF InitEnabled="true" -->
					&nbsp;<a href="{BASEPATH}admin/reports.php?op=initreport&id={ID}"><img src="{MENU_PARSER_INIT}" width="16" title="{LN_REPORTS_INIT}"></a>
					<!-- ENDIF InitEnabled="true" -->
					<!-- IF DeleteEnabled="true" -->
					&nbsp;<a href="{BASEPATH}admin/reports.php?op=removereport&id={ID}"><img src="{MENU_PARSER_DELETE}" width="16" title="{LN_REPORTS_REMOVE}"></a>
					<!-- ENDIF DeleteEnabled="true" -->
				<!-- ENDIF EnableNeedsInit="true" -->
			</td>
		</tr>
		<!-- IF GROUPMEMBERS="true" -->
		<tr>
			<td align="center" colspan="2" class="cellmenu2_naked">{LN_REPORTS_SAVEDREPORTS}</td>
			<td align="left" colspan="2" class="line0">
		<!-- BEGIN SAVEDREPORTS -->

			<img src="{MENU_REPORTS}" width="16">
			<a href="{BASEPATH}admin/reports.php?op=editsavedreport&id={SavedReportID}">{customTitle}</a>

		<!-- END SAVEDREPORTS -->
			</td>
		</tr>
		<!-- ENDIF GROUPMEMBERS="true" -->

		<!-- END REPORTS -->
		</table>
<!-- ENDIF LISTREPORTS="true" -->

<!-- IF ISSHOWDETAILS="true" -->
		<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="600" class="with_border_alternate">
		<tr>
			<td align="center" class="cellmenu1" colspan="2"><b>{LN_REPORTS_DETAILS}</b></td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2" width="250"><b>{LN_REPORTS_ID}</b></td>
			<td align="left" class="line1" width="350">{ReportID}</td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2"><b>{LN_REPORTS_NAME}</b></td>
			<td align="left" class="line2">{DisplayName}</td>
		</tr>
		<tr>
			<td align="left" class="cellmenu2_naked" valign="top"><b>{LN_REPORTS_DESCRIPTION}</b></td>
			<td align="left" class="line1">{Description}</td>
		</tr>
		<!-- IF EnableHelpArticle="true" -->
		<tr>
			<td align="left" class="cellmenu2"><b>{LN_REPORTS_HELP}</b></td>
			<td align="center" class="line2"><a href="{ReportHelpArticle}" target="_blank">{LN_REPORTS_HELP_CLICK}</a></td>
		</tr>
		<!-- ENDIF EnableHelpArticle="true" -->
		<!-- IF EnableNeedsInit="true" -->
		<tr>
			<td align="center" class="tableBackground" colspan="2">
				<!-- IF InitEnabled="true" -->
				<a href="{BASEPATH}admin/reports.php?op=initreport&id={ReportID}"><img src="{MENU_PARSER_INIT}" width="16" title="{LN_REPORTS_INIT}"> {LN_REPORTS_INIT}</a>
				<!-- ENDIF InitEnabled="true" -->
				<!-- IF DeleteEnabled="true" -->
				<a href="{BASEPATH}admin/reports.php?op=removereport&id={ReportID}"><img src="{MENU_PARSER_DELETE}" width="16" title="{LN_REPORTS_REMOVE}"> {LN_REPORTS_REMOVE}</a>
				<!-- ENDIF DeleteEnabled="true" -->
			</td>
		</tr>
		<!-- ENDIF EnableNeedsInit="true" -->
		</table>

		<br><br>
		<a href="javascript:history.back();" target="_top">{LN_GEN_ERRORRETURNPREV}</a>
<!-- ENDIF ISSHOWDETAILS="true" -->

<!-- IF ISADDSAVEDREPORT="true" -->
		<form action="{BASEPATH}admin/reports.php" method="post">
			<input type="hidden" name="id" value="{ReportID}">
			<input type="hidden" name="op" value="addsavedreport">
			<table border="0" cellpadding="1" cellspacing="1" bgcolor="#DDDDDD" width="600" class="with_border_alternate">
			<tr>
				<td align="center" class="cellmenu1" colspan="2"><b>{LN_REPORTS_ADDSAVEDREPORT}: '{DisplayName}'</b></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_REPORTS_CUSTOMTITLE}</b></td>
				<td align="right" class="line0" width="100%"><input type="text" name="report_customtitle" size="40" maxlength="255" value="{customTitle}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_REPORTS_CUSTOMCOMMENT}</b></td>
				<td align="right" class="line0" width="100%"><input type="text" name="report_customcomment" size="40" maxlength="255" value="{customComment}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_REPORTS_FILTERSTRING}</b></td>
				<td align="right" class="line0" width="100%"><input type="text" name="report_filterString" size="40" maxlength="255" value="{filterString}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" width="150" nowrap><b>{LN_REPORTS_OUTPUTFORMAT}</b></td>
				<td align="right" class="line0" width="100%">
					<select name="outputFormat" size="1" STYLE="width: 190px">
						<!-- BEGIN OUTPUTFORMATS -->
						<option value="{formatid}" {formatselected}>{formatdisplayname}</option>
						<!-- END OUTPUTFORMATS -->
					</select>
				</td>
			</tr>
			
			<tr>
				<td align="center" colspan="2">
					<input type="submit" value="{REPORT_SENDBUTTON}">
					<input type="hidden" name="op" value="{REPORT_FORMACTION}">
				</td>
			</tr>
			</table>
		</form>
<!-- ENDIF ISADDSAVEDREPORT="true" -->

		<br><br>

		</td>
	</tr>
</table>

<!-- INCLUDE include_footer.html -->