/* Generell Tag Classes */
body
{
	color: #000000;
	background-color: #ffffff;
}

td 
{ 
	color: #000000 
}

/* Default Link Classes */
a:link,a:active,a:visited,a.postlink
{
	font-weight: bold;
	text-decoration:none;

	background-color: transparent;
	color:#002C5B;
}
a:hover
{
	font-weight: bold;
	color:#000000;
}
/*---*/

/* Context Link Classes */
a.contextlink:link,a.contextlink:active,a.contextlink:visited,a.contextlink
{
	font-weight: bold;
	background-color: transparent;
	color:#890600;
	text-decoration:underline;
}
a.contextlink:hover
{
	font-weight:bold;
	color:#000000;
	text-decoration:none;
}
/*---*/

img
{
	border: 0px;
}

/* Title Classes */
.title 
{
	font-weight:bold;

    background-color: #FFB742;
	color: #00255B;

	text-align:center;
	vertical-align:middle;
}
a.title, a.title:active, a.title:visited 
{
	font-weight:bold;

	color: #00255B;
	TEXT-DECORATION: none;
}
a.title:hover 
{
	color: #982D00; 
	TEXT-DECORATION: none;
}
.titleSecond
{
	font-weight:bold;

	background-color: #FFDC70;
	color: #000000;

	text-align:center;
	vertical-align:middle;
}

/* Table / Border Classes */
.table_with_border
{ 
	background-color:#FFF2CC;
	border:1px solid;
	border-color: #888888 #000000 #000000 #888888; 
}

.table_with_border_second
{ 
	background-color:#FFB742;
	border:1px solid;
	border-color: #888888 #000000 #000000 #888888; 
}

.table_with_border_light
{ 
	background-color:#E0E0E0;
	border:1px #888888 solid;
}

.with_border
{
	text-indent:3px;
	background-color:#999999;
}

.with_border_alternate
{
	text-indent:3px;
	background-color:#999999;
}

.mainheader
{ 
	border:1px solid;
	background-color:#FCF7CF;
	border-color: #44617D #203040 #203040 #44617D; 
}

.mainfooter
{ 
	background-color:#FFFFFF;
	border-top: #97A8B9 1px solid;
	border-bottom: #6592BD 1px solid;
}

.imageborder
{
	border:1px solid;
	border-color: #44617D #203040 #203040 #44617D; 
}

/* Cells for listening */
.line0
{
	color: #000000;
	background-color: #F0F0F0;
}
.line1
{
	color: #000000;
	background-color: #E0E0E0;
}
.line2
{
	color: #000000;
	background-color: #D0D0D0;
}
.line0:hover, .line1:hover, .line2:hover 
{ 
	background-color:#F9F9F9; 
}
.tableBackground
{
	color: #000000;
	background-color: #FFEBCC;
}

.lineColouredWhite, .lineColouredWhite:hover, a.lineColouredWhite
{
		color: #FFFFFF;
}
.lineColouredBlack, .lineColouredBlack:hover, a.lineColouredBlack
{
		color: #000000;
}

/* TOP Menu Classes */
.topmenu2
{
	border:1px ridge;
	border-color: #BDEEFF #79AABE #09506C #09506C;
	padding: 2px 2px 0px 2px;
	vertical-align: middle;

	color: #FFFFFF;
	background-color: #004E89;
}
.topmenu2:hover 
{ 
	border:1px inset;
	border-color: #BDEEFF #79AABE #09506C #09506C;
	background-color: #003E79;
	text-decoration: none;
}
.topmenu2_link, A.topmenu2_link
{
	color: #FFFF55;
}
.topmenu2_link:hover, A.topmenu2_link:hover 
{
	color: #FFFFFF;
	text-decoration: none;
}
.topmenu1_link, a.topmenu1_link, a.topmenu1_link:visited, .topmenu2_link, a.topmenu2_link, a.topmenu2_link:visited, .topmenu3_link, a.topmenu3_link, a.topmenu3_link:visited 
{
	vertical-align: middle;

	color: #FFFF55;
	font-weight:bold;
	text-decoration: none;
}
.topmenu1_link:hover
{
	vertical-align: middle;

	color: #FFFFFF;
	font-weight:bold;
	text-decoration: none;
}

/* Cell Columns */
.cellmenu1
{
	border:1px ridge;
	border-color: #79AABE #09506C #09506C #79AABE;

	text-indent:0px;
	font-weight:bold;

	background-color: #2d424c;

	color: #FFFFFF;
}
.cellmenu1_naked
{
	border:1px ridge;
	border-color: #79AABE #09506C #09506C #79AABE;
	background-color: #2d424c;

	text-indent:0px;
	font-weight:bold;

	color: #FFFFFF;
}
.cellmenu1:hover .cellmenu1_naked:hover, .cellmenu2:hover, .cellmenu2_naked:hover
{ 
	color: #FFFF99;
	text-decoration: none;
}
a.cellmenu1_link
{
	color: #FBFF9E;
	text-decoration: none;
}
a.cellmenu1_link:hover
{
	color: #F6FF14;
}

.cellmenu2
{
	border:1px solid;
	border-color: #79AABE #79AABE #79AABE #79AABE;

	text-indent:0px;
	font-weight:bold;

	background-color: #0A4CAD;
	color: #FFFFFF;
}
.cellmenu2_naked
{
	border:1px solid;
	border-color: #79AABE #79AABE #79AABE #79AABE;

	text-indent:0px;
	font-weight:bold;

	background-color: #0A4CAD;
	color: #FFFFFF;
}

/* Usefull Text Classes */
.ErrorMsg 
{
	font-weight: bold;
	COLOR: #770000;
}
.PriorityEmergency
{
	color: #FFFFFF;
	background-color: #ff4444;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityAlert
{
	color: #FFFFFF;
	background-color: #dd00dd;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityCrit
{
	color: #FFFFFF;
	background-color: #dd9900;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityError
{
	color: #FFFFFF;
	background-color: #990000;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityWarning
{
	color: #000000;
	background-color: #FFAA00;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityNotice
{
	color: #FFFFFF;
	background-color: #66CC33;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityInfo
{
	color: #000000;
	background-color: #ABF1FF;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityDebug
{
	color: #FFFFFF;
	background-color: #3333ff;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}

/* Form elements */
select, input, button, textarea
{
	background-color: #E8E7E2; 
	color:#000000; 

	font-weight: bold;

	border: 1px solid;
	border-color: #233B51 #124A7C #124A7C #233B51; 
}

.SearchFormControl
{
	margin: 2px;
	background-color: #E8E7E2; 
	color:#000000; 

	font-weight: bold;

	border: 1px solid;
	border-color: #233B51 #124A7C #124A7C #233B51; 
}

.SearchFormTextbox
{
	width:100%;
	margin: 2px;
	background-color: #E8E7E2; 
	color:#000000; 

	font-weight: bold;

	border: 1px solid;
	border-color: #233B51 #124A7C #124A7C #233B51; 
}

.highlighted 
{ 
	font-weight: bold;

	color: #BB0000 
}


/* Corner radius */
.title,
.with_border,
.with_border_alternate,
.mainheader,
.imageborder,
.topmenu1,
.topmenu2,
.topmenu2end,
.topmenu3,
.cellmenu1,
.cellmenu1_naked,
.cellmenu2,
.cellmenu2_naked,
.SearchFormControl,
.SearchFormTextbox,
.table_with_border,
.table_with_border_second,
.table_with_border_light, 
select, input, button, textarea {
	border-radius: 2px;
}
