/* Generell Tag Classes */
BODY
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	color: #F3F3F1; 
	background-color: #000000;

	scrollbar-face-color: #475059;
	scrollbar-highlight-color: #b8c2cc;
	scrollbar-shadow-color: #b8c2cc; 
	scrollbar-3dlight-color: #000000; 
	scrollbar-arrow-color: #f2f5ff; 
	scrollbar-track-color: #262d34; 
	scrollbar-darkshadow-color: #000000;
}

TD 
{ 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	color: #F3F3F1 
}

/* Default Link Classes */
a:link,a:active,a:visited,a.postlink
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration:none;

	background-color: transparent;
	color:#FFD323;
}
a:hover
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#EF9A00;
}

img
{
	border: 0px;
}

/* Context Link Classes */
a.contextlink:link,a.contextlink:active,a.contextlink:visited,a.contextlink
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: transparent;
	color:#FF9900;
	text-decoration:underline;
}
a.contextlink:hover
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#FF9900;
	text-decoration:none;
}
/*---*/

/* Title Classes */
.title 
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px; 

    background-color: #1C1014;
    background-image: url(images/bg_3.png);
    background-repeat: repeat-x;

	COLOR: #E5F377;
	border: 1px solid;
	border-color: #58363E #2C1B1F #2C1B1F #58363E;
	height: 20px;
	text-align:center;
	vertical-align:middle;
}
A.title, A.title:active, A.title:visited 
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px; 

	COLOR: #dd6900;
	TEXT-DECORATION: none;
}
A.title:hover 
{
	COLOR: #FF0A0C; 
	TEXT-DECORATION: none;
}
.titleSecond
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;

    background-color: #1C1014;
    background-image: url(images/bg_4.png);
    background-repeat: repeat-x;

	COLOR: #E5F377;
	height: 18px;
	text-align:center;
	vertical-align:middle;
}

/* Default Font Classes */
font
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
}

/* Table / Border Classes */
.table_with_border
{ 
	background-color:#141618;
	border:1px solid;
	border-color: #290604 #0E0706 #000000 #290604; 
}

.table_with_border_second
{ 
	background-color:#19232D;
	border:1px solid;
	border-color: #050A0F #050A0F #050A0F #050A0F; 
}

.table_with_border_light
{ 
	background-color:#1C2021;
	border:1px #050A0F solid;
}

.with_border
{
	text-indent:3px;
	background-color:#1C2021;
	border:1px #050A0F solid;
}

.with_border_alternate
{
	text-indent:3px;
	background-color:#1C2021;
	border:1px #07233F ridge;
}

.mainheader
{ 
	border:1px solid;
	background-color:#1C2021;
	border-color: #006699 #07233F #000000 #006699; 
}

.mainfooter
{ 
	height: 20px;
	background-color:#1C2021;
	border-top: #050A0F 1px solid;
	border-bottom: #050A0F 1px solid;
}

.imageborder
{
	border:1px solid;
	border-color: #050A0F #353A3F #353A3F #050A0F; 
}

/* Cells for listening */
.line0
{
	font-size: 10px; 
	color: #B9B597;
	background-color: #0E161F;
}
.line0:hover 
{ 
	background-color:#3D4751; 
}

.line1
{
	font-size: 10px; 
	color: #B9B597;
	background-color: #152331;
}
.line1:hover 
{ 
	background-color:#3D4751; 
}

.line2
{
	font-size: 10px; 
	color: #B9B597;
	background-color: #1D3043;
}
.line2:hover 
{ 
	background-color:#3D4751; 
}

.tableBackground
{
	font-size: 8pt;
	color: #B9B597;
	background-color: #1D3043;
}

.lineColouredWhite, .lineColouredWhite:hover, a.lineColouredWhite
{
	font-size: 8pt;
	color: #FFFFFF;
}
.lineColouredBlack, .lineColouredBlack:hover, a.lineColouredBlack
{
	font-size: 8pt;
	color: #000000;
}

/* TOP Menu Classes */
.topmenu1begin
{
	height: 20px;
	border:0px;
	padding: 2px 2px 0px 2px;
	vertical-align: middle;

	background-color: #38110E;
}
.topmenu1
{
	height: 20px;
	border:1px ridge;
	border-color: #D79993 #290604 #290604 #D79993;
	padding: 2px 2px 0px 2px;
	vertical-align: middle;

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 

	color: #FFFFFF;
	background-color: #38110E;
}
.topmenu1:hover 
{ 
	color: #FFFF99;
	border:1px inset;
	border-color: #D79993 #290604 #290604 #D79993;
	background-color: #492D2B;
	text-decoration: none;
}
.topmenuend
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 

	height: 16px;
	color: #FFFFFF;
	background-color: #290604;
}
.topmenuextra
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 

	height: 16px;
	color: #FFFFFF;
	background-color: #053841;
}

.topmenu2begin
{
	height: 20px;
	border:0px;
	padding: 2px 2px 0px 2px;
	vertical-align: middle;

	background-color: #49221F;
}
.topmenu2
{
	height: 20px;
	border:1px ridge;
	border-color: #D79993 #290604 #290604 #D79993;
	padding: 2px 2px 0px 2px;
	vertical-align: middle;

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 

	color: #FFFFFF;
	background-color: #49221F;
}
.topmenu2:hover 
{ 
	color: #FFFF99;
	border:1px inset;
	border-color: #D79993 #290604 #290604 #D79993;
	background-color: #492D2B;
	text-decoration: none;
}
.topmenu2_link, A.topmenu2_link
{
	color: #FFDD22;
}
.topmenu2_link:hover, A.topmenu2_link:hover 
{
	color: #FFFF99;
	text-decoration: none;
}
.topmenu2end
{
	height: 20px;
	border:0px;

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 

	color: #FFFFFF;
	background-color: #49221F;
}
.topmenu3begin
{
	height: 16px;
	border:0px;
	padding: 2px 2px 0px 2px;
	vertical-align: middle;

	background-color: #3F68AA;
}
.topmenu3
{
	height: 16px;
	border:1px ridge;
	border-color: #09506C #557986 #09506C #09506C;
	padding: 2px 2px 0px 2px;
	vertical-align: middle;

	font: 10px Arial, Verdana, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #3F68AA;
}
.topmenu3:hover 
{ 
	color: #FFFF99;
	border:1px inset;
	border-color: #09506C #557986 #09506C #09506C;
	background-color: #294572;
	text-decoration: none;
}
.topmenu3end
{
	height: 16px;
	font: 10px Arial, Verdana, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #3F68AA;
}

.topmenu1_link, a.topmenu1_link, a.topmenu1_link:visited, .topmenu2_link, a.topmenu2_link, a.topmenu2_link:visited, .topmenu3_link, a.topmenu3_link, a.topmenu3_link:visited 
{
	vertical-align: middle;
	height: 16px;

	color: #FFDD22;
	font-weight:bold;
	text-decoration: none;
}
.topmenu1_link:hover, .topmenu2_link:hover, .topmenu3_link:hover
{
	vertical-align: middle;

	color: #FFFF99;
	font-weight:bold;
	text-decoration: none;
}

/* Cell Columns */
.cellmenu1
{
/*	height: 15px; */
	border:1px solid;
	border-color: #353A3F #050A0F #050A0F #353A3F; 

	text-indent:5px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;

	background-color: #103B65;
    background-image: url(images/bg_1.png);
    background-repeat: repeat-x;

	color: #FFFCE5;
}
.cellmenu1_naked
{
	border:1px ridge;
	border-color: #353A3F #050A0F #050A0F #353A3F; 

	text-indent:5px;
	font-family: 10px Arial, Verdana, Helvetica, sans-serif;
	color: #FFFCE5;

	background-color: #103B65;
}
.cellmenu1:hover, .cellmenu1_naked:hover
{ 
	color: #FFFF33;
	text-decoration: none;
}
A.cellmenu1_link
{
	color: #FFFF33;
	text-decoration: underline;
}
A.cellmenu1_link:hover
{
	color: #FF5500;
	text-decoration: none;
}

.cellmenu2
{
	height: 16px;
	border:1px ridge;
	border-color: #7777AA #12161A #12161A #7777AA;

	text-indent:5px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;
	color: #FFFCE5;

	background-color: #053841;
    background-image: url(images/bg_2.png);
    background-repeat: repeat-x;
}
.cellmenu2_naked
{
	border:1px ridge;
	border-color: #7777AA #12161A #12161A #7777AA;

	text-indent:5px;
	font: 10px Arial, Verdana, Helvetica, sans-serif;
	color: #FFFCE5;

	background-color: #053841;
}
.cellmenu2:hover, .cellmenu2_naked:hover
{ 
	color: #FFFF33;
	text-decoration: none;
}

/* Usefull Text Classes */
.ErrorMsg 
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	font-weight: bold;

	COLOR: #FF2222;
}
.PriorityEmergency
{
	color: #FFFFFF;
	background-color: #ff4444;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityAlert
{
	color: #FFFFFF;
	background-color: #dd00dd;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityCrit
{
	color: #FFFFFF;
	background-color: #dd9900;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityError
{
	color: #FFFFFF;
	background-color: #CC0000;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityWarning
{
	color: #FFFFFF;
	background-color: #FFAA00;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityNotice
{
	color: #FFFFFF;
	background-color: #66CC33;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityInfo
{
	color: #000000;
	background-color: #ABF1FF;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}
.PriorityDebug
{
	color: #FFFFFF;
	background-color: #3333ff;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	border-right: gray 1px solid;
}

/* Form elements */
select, input, button, textarea
{
	background-color: #0B253C; 
	color:#FFFFFF; 

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;

	border: 1px solid;
	border-color: #233B51 #124A7C #124A7C #233B51; 
}

.SearchFormControl
{
	height: 20px;
	margin: 2px;
	background-color: #0B253C; 
	color:#FFFFFF; 

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;

	border: 1px solid;
	border-color: #233B51 #124A7C #124A7C #233B51; 
}

.SearchFormTextbox
{
	height: 20px;
	margin: 2px;
	background-color: #0B253C; 
	color:#FFFFFF; 

	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;

	border: 1px solid;
	border-color: #233B51 #124A7C #124A7C #233B51; 
}

.highlighted 
{ 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;

	color: #CC6600 
}
