/* Generic Style definitions */
.ExpansionPlus
{
	background-image: url("../images/icons/navigate_plus.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}

.ExpansionMinus
{
	background-image: url("../images/icons/navigate_minus.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}

.HiddenContent
{
	visibility: hidden;
/*		position: relative; */
	display: none;
}

.ShownContent
{
	visibility: visible;
	display: inline;
}

.borderless
{ 
	border:0px solid;
	background-color: transparent; 
}

.borderlessbuttons
{ 
	border:0px solid;
	background-color: transparent; 
	width:20px; 
	padding: 0px;
}

.inlinebutton 
{ 
	float:left; 
	position: relative;

	border:0px solid;
	background-color: transparent; 
	padding: 0px;
	margin: 0px;
}

.SelectSavedFilter
{
	margin-top: 2px;
	border: 1px solid;
	border-color: #233B51 #124A7C #124A7C #233B51; 
}

.syslogdetails, a.syslogdetails, a.syslogdetails:link, a.syslogdetails:active, a.syslogdetails:visited
{
	font-weight:normal;
    text-decoration:none;
    position:relative;
	overflow:visible;
}
.syslogdetails
{
    position:relative;
	overflow:visible;
	z-index:4;
}

.syslogdetails:hover
{
    position:relative; /*this is the key*/
	font-weight:normal;
	z-index:5; 
}
.syslogdetails span
{
    position:relative;
	overflow:visible;
	display: none;
	z-index:-1; 

}
/*the span will display just on :hover state*/
.syslogdetails_popup span
{ 
    display:block;
    position:absolute;
	overflow:auto;
	z-index:5; 

/*    top:15px; */
/*    left:15px; */
}

.gridline
{
	vertical-align: top;
	height: 16px;
}

/*
* POPUP Helper Styles
*/
.popupdetails
{
	position: absolute;
	visibility: hidden;
	z-index:1
}
.popupdetails:hover
{
	position: absolute;
	visibility: hidden;
	z-index: 2;
}

.popupdetails_popup
{ 
	position: absolute;
	visibility: visible;
	z-index: 2;
}
