
#menu {
	width: 16px; /* set width of menu */
} 

#menu ul { /* remove bullets and list indents */
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* style, color and size links and headings to suit */
#menu a, #menu h2 {
	display: block;
	margin: 2px;
	padding: 1px 1px; 
}

#menu h2 {
	font-size: 12px;
	font: bold;
	text-align: center;
}

#menu a {
	text-decoration: none;
}

#menu a:hover {
	text-decoration: none;
}

#menu li {
	/* make the list elements a containing block for the nested lists */
	position: relative;
} 

#menu ul li ul li {
	border-width: 1px;
	border-style: solid;
	border-color: #44617D #203040 #203040 #44617D;
} 

#menu ul ul {
	z-index:10;

/*	border-color: #44617D #203040 #203040 #44617D; */

	position: absolute;
	top: 12px;
	left: 4px; /* to position them to the right of their containing block */
	width: 350; /* width is based on the containing block */
}

div#menu ul ul,
div#menu ul li:hover ul ul
{
	display: none;
}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul 
{
	display: block;
}
