	<br><br>

	<table width="100%" border="0" cellspacing="1" cellpadding="0" class="mainfooter">
	<tr>
		<td align="center" class="line0">Created 2008 - By <a href="http://www.adiscon.com" target="_blank">Adiscon GmbH</a></td>
		<td align="center" class="line1">
			&nbsp;<a href="http://www.phplogcon.org" target="_blank">PhpLogCon</A> Version {BUILDNUMBER}
		</td>
		<td align="center" class="line0">
			&nbsp;<B>Partners:</B> 
 		 </td>
		<td align="center" class="line1">
			&nbsp;<a href="http://www.rsyslog.com" target="_blank">RSyslog</a> | 
			&nbsp;<a href="http://www.winsyslog.com" target="_blank">WinSyslog</a>
 		 </td>
		<!-- IF ShowPageRenderStats="true" -->
		<td align="center" class="line2">
			Page rendered in <B>{PAGERENDERTIME}</B> seconds
			&nbsp;|&nbsp;Total DB Queries <B>{TOTALQUERIES}</B>
 		 </td>
		<!-- ENDIF ShowPageRenderStats="true" -->
	 </tr>
	 </table>

	</td>
  </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
	<td colspan="2" background="themes/{user_theme}/images/bg_bottom.gif" height="16"><img src="themes/{user_theme}/images/bg_bottom.gif" height="16"></td>
</tr>
</table>

</body> 
</html>